{% extends 'app/app.base.html.twig' %}

{% block page_content %}

    <h1 class="mt-2">{{ 'Rules'|trans }}</h1>

    <div class="list-group mb-3">
        {% for rule in dashboardModel.rules %}

            <a href="#"
               class="list-group-item list-group-item-action">
                {% if rule.active %}
                    <i class="bi-check-circle mr-1"></i>
                {% else %}
                    <i class="bi-circle mr-1"></i>
                {% endif %}
                - {{ rule.name }} - {{ rule.ruleOptions.frequency }}
            </a>
        {% endfor %}
    </div>

    <a href="{{ path('DR\\GitCommitNotification\\Controller\\App\\EditRuleController') }}" class="btn btn-outline-primary">
        <i class="bi-plus"></i>
        {{ 'New rule'|trans }}
    </a>

{% endblock %}
