{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set form = editRuleModel.form %}

    <div data-controller="edit-rule" data-edit-rule-recipient-count-value="{{ form.rule.recipients|length }}">

        <h1 class="mt-2">{{ 'New rule'|trans }}</h1>

        {{ form_start(form) }}

        {# rule #}
        {{ form_label(form.rule.name) }}
        {{ form_widget(form.rule.name) }}

        {{ form_label(form.rule.active) }}
        {{ form_widget(form.rule.active) }}

        {{ form_label(form.rule.ruleOptions.frequency) }}
        {{ form_widget(form.rule.ruleOptions.frequency) }}

        {# recipients #}
        <fieldset class="pb-2">
            <legend>Recipients</legend>

            <div data-role="recipients" data-edit-rule-target="recipients">
                {% for recipient in form.rule.recipients %}
                    {% include '/app/edit_rule.recipient.html.twig' %}
                {% endfor %}
            </div>

            <template data-edit-rule-target="recipientTemplate">
                {% include '/app/edit_rule.recipient.html.twig' with {recipient: form.rule.recipients.vars.prototype} %}
            </template>

            <a href="javascript:" data-action="edit-rule#addRecipient" class="btn btn-outline-primary">
                {{ 'Add recipient'|trans }}
            </a>

        </fieldset>

        {{ form_end(form) }}

    </div>
{% endblock %}
