{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set form = editRuleModel.form %}
    {% set rule = form.rule.vars.value %}

    <div>
        <h1 class="mt-2">{% if rule.id %}{{ 'Rule'|trans }}{% else %}{{ 'New rule'|trans }}{% endif %}</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {# active #}
        <div class="form-group row mb-2">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                {{ form_widget(form.rule.active) }}
            </div>
        </div>

        {# name #}
        {% include '/app/form_row.html.twig' with {form: form.rule.name} %}

        {# frequency #}
        {% include '/app/form_row.html.twig' with {form: form.rule.ruleOptions.frequency} %}

        {# mail theme #}
        {% include '/app/form_row.html.twig' with {form: form.rule.ruleOptions.theme} %}

        {# subject #}
        {% include '/app/form_row.html.twig' with
            {
                form: form.rule.ruleOptions.subject,
                form_help: 'ruleOptions.subject.help'|trans ~ ' <code>' ~ 'ruleOptions.subject.example'|trans ~ '</code>'
            }
        %}

        {# repositories #}
        <div class="form-group row mb-4">
            {{ form_label(form.rule.repositories, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.rule.repositories) }}
            </div>
        </div>

        {# recipients #}
        {% include '/app/recipients.html.twig' with {recipients: form.rule.recipients} %}

        {# filters #}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.inclusions, title: 'Include commits'|trans} %}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.exclusions, title: 'Exclude commits'|trans} %}

        {# advanced #}
        <fieldset>
            <legend>{{ 'Advanced'|trans }}</legend>

            {% include '/app/form_row.html.twig' with {form: form.rule.ruleOptions.diffAlgorithm} %}
            {{ form_widget(form.rule.ruleOptions.ignoreSpaceAtEol) }}
            {{ form_widget(form.rule.ruleOptions.ignoreSpaceChange) }}
            {{ form_widget(form.rule.ruleOptions.ignoreAllSpace) }}
            {{ form_widget(form.rule.ruleOptions.ignoreBlankLines) }}
        </fieldset>

        {{ form_row(form.save) }}

        {{ form_end(form, {render_rest: false}) }}

    </div>
{% endblock %}
