{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set form = editRuleModel.form %}

    <div >
        <h1 class="mt-2">{{ 'New rule'|trans }}</h1>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {# rule #}
        {{ form_label(form.rule.name) }}
        {{ form_widget(form.rule.name) }}

        {{ form_label(form.rule.active) }}
        {{ form_widget(form.rule.active) }}

        {{ form_label(form.rule.ruleOptions.frequency) }}
        {{ form_widget(form.rule.ruleOptions.frequency) }}

        {# recipients #}
        <fieldset class="pb-2" data-controller="Recipients" data-recipient-count="{{ form.rule.recipients|length }}">
            <legend>{{ 'Recipients'|trans }}</legend>

            <div data-role="recipient-list">
                {% for recipient in form.rule.recipients %}
                    {% include '/app/recipient.html.twig' %}
                {% endfor %}
            </div>

            <template data-role="recipient-template">
                {% include '/app/recipient.html.twig' with {recipient: form.rule.recipients.vars.prototype} %}
            </template>

            <a href="javascript:" data-role="addRecipient" class="btn btn-outline-primary">
                {{ 'Add recipient'|trans }}
            </a>
        </fieldset>

        {# repositories #}
        <fieldset class="pb-2">
            <legend>{{ 'Repository'|trans }}</legend>

            {{ form_widget(form.rule.repositories) }}
        </fieldset>

        {# filters #}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.inclusions, title: 'Include commits'|trans} %}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.exclusions, title: 'Exclude commits'|trans} %}

        {{ form_end(form) }}

    </div>
{% endblock %}
