{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set form = editRuleModel.form %}
    {% set rule = form.rule.vars.value %}

    <div class="pb-5" data-controller="EditRule">
        <h1 class="mt-2">
            {% if rule.id %}{{ 'Rule'|trans }}{% else %}{{ 'rule.new'|trans }}{% endif %}

            <button type="button" class="btn btn-primary float-end" data-toggle="button" data-role="toggle-help">
                <i class="bi-question"></i>
            </button>
        </h1>

        {{ form_start(form, {attr: {autocomplete: 'off'}}) }}
        {{ form_errors(form) }}

        {# active #}
        <div class="form-group row mb-2">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                {{ form_widget(form.rule.active) }}
            </div>
        </div>

        {# name #}
        {% include '/app/form_row.html.twig' with {form: form.rule.name} %}

        {# frequency #}
        {% include '/app/form_row.html.twig' with {form: form.rule.ruleOptions.frequency} %}

        {# mail theme #}
        {% include '/app/form_row.html.twig' with {form: form.rule.ruleOptions.theme} %}

        {# subject #}
        {% include '/app/form_row.html.twig' with
            {
                form: form.rule.ruleOptions.subject,
                form_help: 'ruleOptions.subject.help'|trans
                ~ ' <code>' ~ 'ruleOptions.subject.example'|trans ~ '</code>'
                ~ '. ' ~ 'ruleOptions.subject.vars'|trans|raw
            } %}

        {# repositories #}
        <div class="form-group row mb-4">
            {{ form_label(form.rule.repositories, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                <div class="repository-columns">
                    {{ form_widget(form.rule.repositories) }}
                </div>
                {{ form_errors(form.rule.repositories) }}
            </div>
        </div>

        {# recipients #}
        {% if form.rule.recipients is defined %}
            {% include '/app/recipients.html.twig' with {recipients: form.rule.recipients} %}
        {% endif %}

        {# filters #}
        <small class="form-text" data-role="explanation">
            <ul>
                <li>
                    <em>Author</em> - In- or exclude a commit from a specific author. The pattern should match the email of the author.
                </li>
                <li>
                    <em>Subject</em> - In- or exclude a commit with a specific commit message. The pattern will be matched against the first line of
                    the message.
                </li>
                <li>
                    <em>File</em> - In- or exclude a file from a commit by regex. The pattern will be matched against the relative path of the file
                    in the project. For example <code>composer.json</code> or <code>src/Controller/ExampleController.php</code>
                </li>
            </ul>
        </small>

        {% include '/app/filters.html.twig' with {filters: form.rule.filters.inclusions, title: 'Include commits'|trans} %}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.exclusions, title: 'Exclude commits'|trans} %}

        {# advanced #}
        <fieldset class="mb-4 row">
            <legend>{{ 'Advanced'|trans }}</legend>

            <small class="form-text" data-role="explanation">
                Options passed to the <code>git diff</code> command. See the
                <a href="https://git-scm.com/docs/git-diff" target="_blank">git documentation</a>
                for what each specific option does.
            </small>

            <div class="col">
                {{ form_row(form.rule.ruleOptions.diffAlgorithm) }}
            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label>
                {{ form_widget(form.rule.ruleOptions.ignoreSpaceAtEol) }}
                {{ form_widget(form.rule.ruleOptions.ignoreSpaceChange) }}
                {{ form_widget(form.rule.ruleOptions.excludeMergeCommits) }}
            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label>
                {{ form_widget(form.rule.ruleOptions.ignoreAllSpace) }}
                {{ form_widget(form.rule.ruleOptions.ignoreBlankLines) }}
            </div>
        </fieldset>

        <div>
            {{ form_widget(form.save, {attr: {style: 'width: 150px; max-width: 40%'}}) }}

            <a href="{{ path('DR\\GitCommitNotification\\Controller\\App\\RulesController') }}" class="btn btn-outline-primary">
                {{ 'Cancel'|trans }}
            </a>
        </div>

        {{ form_widget(form._token) }}

        {{ form_end(form, {render_rest: false}) }}

    </div>
{% endblock %}
