{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set form = editRuleModel.form %}

    <div>
        <h1 class="mt-2">{{ 'New rule'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {# active #}
        <div class="form-group row mb-2">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                {{ form_widget(form.rule.active) }}
            </div>
        </div>

        {# name #}
        <div class="form-group row mb-2">
            {{ form_label(form.rule.name, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
            {{ form_widget(form.rule.name) }}
            </div>
        </div>

        {# subject #}
        <div class="form-group row mb-2">
            {{ form_label(form.rule.ruleOptions.subject, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.rule.ruleOptions.subject) }}
            </div>
        </div>

        {# frequency #}
        <div class="form-group row mb-2">
            {{ form_label(form.rule.ruleOptions.frequency, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.rule.ruleOptions.frequency) }}
            </div>
        </div>

        {# repositories #}
        <div class="form-group row mb-4">
            {{ form_label(form.rule.repositories, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.rule.repositories) }}
            </div>
        </div>

        {# recipients #}
        {% include '/app/recipients.html.twig' with {recipients: form.rule.recipients} %}

        {# filters #}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.inclusions, title: 'Include commits'|trans} %}
        {% include '/app/filters.html.twig' with {filters: form.rule.filters.exclusions, title: 'Exclude commits'|trans} %}

        {{ form_end(form) }}

    </div>
{% endblock %}
