{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <div class="mt-2 pb-2 clearfix">
        <h2 class="float-start pe-3 mb-0">{{ 'code.search'|trans }}</h2>
    </div>

    <div class="alert alert-info" role="alert">
        {{ 'code.search.disclaimer'|trans }}
    </div>


    {%- include 'app/flash/flashes.html.twig' -%}

    <div class="mb-2">
        <form method="get">
            <div class="input-group">
                <input type="search" name="search" value="{{ viewModel.searchQuery }}" class="form-control"
                        {{ stimulus_controller('search-field') }}
                       placeholder="{{ 'search.review'|trans }}"/>
                <input type="text"
                       name="extension"
                       pattern="^[a-zA-Z0-9]{1,5}(,[a-zA-Z0-9]{1,5})*$"
                       placeholder="{{ 'search.extension'|trans }}"
                       title="{{ 'search.file.extension'|trans }}"
                       value="{{ viewModel.fileExtension }}"
                       class="form-control code-search-file-extension-input"/>
                <select name="mode" title="{{ 'search.mode'|trans }}" class="form-control max-width-fit-content">
                    <option value="string" {{ viewModel.searchMode == 'string' ? 'selected' : '' }}>string</option>
                    <option value="regex" {{ viewModel.searchMode == 'regex' ? 'selected' : '' }}>regex</option>
                </select>
                {% if viewModel.searchQuery or viewModel.fileExtension %}
                    <a href="?search=&extension=&mode=" class="btn btn-secondary">&times;</a>
                {% endif %}
                <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <div class="accordion" {{ stimulus_controller('accordion') }}>
        {% for resultFile in viewModel.files %}
            <div class="accordion-item" data-role="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" {{ stimulus_action('accordion', 'toggle', 'click') }}>
                        <span class="badge rounded-pill text-bg-primary me-2">
                            {{ resultFile.repository.displayName }}
                        </span>
                        {{ resultFile.file.relativePathname }}
                    </button>
                </h2>
                <div class="accordion-collapse collapse" data-role="accordion-collapse">
                    <div class="accordion-body">
                        <pre class="d-block">
                            {%- for line in resultFile.lines -%}
                                <div {% if line.type.value == 'match' %}class="bg-success-subtle"{% endif %}>
                                    {#- show code line -#}
                                    <span class="text-danger bg-light-gray d-inline-block code-search-line-number">
                                        {{- line.lineNumber -}}
                                    </span> {{ line.line -}}
                                </div>
                            {%- endfor -%}
                        </pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
