{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mb-4 mt-2">{{ 'repository.credentials'|trans }}</h1>

    {% include 'app/flash/flashes.html.twig' %}

    {% if credentialsViewModel.credentials %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">{{ 'id'|trans }}</th>
            <th scope="col">{{ 'name'|trans }}</th>
            <th scope="col">{{ 'authentication.type'|trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%- for credential in credentialsViewModel.credentials -%}
            <tr>
                <td>{{ credential.id }}</td>
                <td>{{ credential.name }}</td>
                <td>{{ credential.authType }}</td>
                <td>
                    <a href="{{ path('DR\\Review\\Controller\\App\\Admin\\Credentials\\CredentialController', {id: credential.id}) }}"
                       class="btn btn-success btn-sm">
                        <i class="bi-pencil-square"></i>
                    </a>

                    <form method="POST" class="d-inline-block"
                          action="{{ path('DR\\Review\\Controller\\App\\Admin\\Credentials\\DeleteCredentialController', {id: credential.id}) }}"
                            {{ stimulus_controller('component--confirm-submit') }}
                          data-confirm-message="{{ 'are.you.sure.you.want.to.delete.this'|trans }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {%- endfor -%}
        <tbody>
    </table>
    {% endif %}

    <a href="{{ path('DR\\Review\\Controller\\App\\Admin\\Credentials\\CredentialController') }}" class="btn btn-outline-primary">
        <i class="bi-plus"></i>
        {{ 'credential.new'|trans }}
    </a>

    <br><br>
{% endblock %}
