{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mb-4 mt-2">
        {% if editCredentialModel.credential.hasId() %}
            {{ 'edit.credential'|trans }} #{{ editCredentialModel.credential.id }}
        {% else %}
            {{ 'add.credential'|trans }}
        {% endif %}
    </h1>

    {% if editCredentialModel.credential.hasId() %}
        <div class="alert alert-info" role="alert">
            {{ 'empty.password.will.be.kept'|trans }}
        </div>
    {% endif %}

    {{ form(editCredentialModel.form ) }}

{% endblock %}
