{% extends 'app/app.base.html.twig' %}

{%- macro checkboxFieldRow(formField) -%}
    <div class="form-group row mb-2">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            {{ form_widget(formField) }}
        </div>
    </div>
{%- endmacro -%}

{%- macro inputFieldRow(formField) -%}
    <div class="row mb-3">
        {{ form_label(formField, null, {label_attr: {class: 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(formField) }}
            {{ form_errors(formField) }}
            {% if formField.vars.help %}
                <small class="text-secondary">{{ formField.vars.help|trans(formField.vars.help_translation_parameters)|raw }}</small>
            {% endif %}
        </div>
    </div>
{%- endmacro -%}
{%- from _self import inputFieldRow -%}
{%- from _self import checkboxFieldRow -%}

{% block page_content %}
    <div class="pb-3">
        {% set form = editRepositoryModel.form %}

        <h1 class="mb-4 mt-2">
            {% if editRepositoryModel.repository.id is same as null %}
                {{ 'add.repository'|trans }}
            {% else %}
                {{ 'edit.repository'|trans }} #{{ editRepositoryModel.repository.id }}
            {% endif %}
        </h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ checkboxFieldRow(form.repository.active) }}
        {{ checkboxFieldRow(form.repository.favorite) }}

        {{ inputFieldRow(form.repository.name) }}
        {{ inputFieldRow(form.repository.displayName) }}
        {{ inputFieldRow(form.repository.mainBranchName) }}

        <h4>Git</h4>
        <hr>
        {{ inputFieldRow(form.repository.url) }}
        {{ inputFieldRow(form.repository.credential) }}
        {{ inputFieldRow(form.repository.gitType) }}

        <h4>{{ 'update.frequency'|trans }}</h4>
        <hr>
        {{ inputFieldRow(form.repository.updateRevisionsInterval) }}
        {{ inputFieldRow(form.repository.validateRevisionsInterval) }}

        {% if form.repository.gitlabProjectId is defined %}
            <h4>{{ 'integrations'|trans }}</h4>
            <hr>
            {{ inputFieldRow(form.repository.gitlabProjectId) }}

            {{ checkboxFieldRow(form.repository.gitApprovalSync) }}
        {% endif %}

        <div class="pt-3">
            {{ form_widget(form.save) }}

            <a href="{{ path('DR\\Review\\Controller\\App\\Admin\\RepositoriesController') }}" class="btn btn-outline-primary">
                {{ 'cancel'|trans }}
            </a>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
