{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mb-4 mt-2">{{ 'user.settings'|trans }}</h1>

    {% include 'app/flash/flashes.html.twig' %}

    {{ form_start(settingViewModel.settingForm) }}

    <h3 class="mb-4 mt-2">{{ 'user.color.theme'|trans }}</h3>

    {{ form_widget(settingViewModel.settingForm.setting.colorTheme) }}

    <div {{ stimulus_controller('browser-notification-settings') }}>
        <h3 class="mb-4 mt-4">
            {{ 'browser.notification.settings'|trans }}
            <button type="button" class="btn btn-sm btn-outline-primary"
                    {{ stimulus_target('browser-notification-settings', 'button') }}
                    {{ stimulus_action('browser-notification-settings', 'enable', 'click') }}
            >{{ 'enable'|trans }}</button>
        </h3>

        {{ form_widget(settingViewModel.settingForm.setting.browserNotificationEvents) }}
        <small class="text-secondary">
            {{ 'browser.notification.explanation.text'|trans }}
        </small>
    </div>

    <h3 class="mb-4 mt-4">{{ 'mail.settings'|trans }}</h3>

    {{ form_rest(settingViewModel.settingForm) }}
    {{ form_end(settingViewModel.settingForm) }}


    <h3 class="mb-4 mt-5">{{ 'access.tokens'|trans }}</h3>

    {% if settingViewModel.accessTokens|length > 0 %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">{{ 'name'|trans }}</th>
                <th scope="col">{{ 'token'|trans }}</th>
                <th scope="col">{{ 'created.at'|trans }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for accessToken in settingViewModel.accessTokens %}
                <tr>
                    <th scope="row">{{ accessToken.name }}</th>
                    <td>
                        {% if date().timestamp - accessToken.createTimestamp <= 300 %}
                            <code>{{ accessToken.token }}</code>
                            <div class="small text-secondary">{{ 'access.token.visibility.duration'|trans }}</div>
                        {% else %}
                            <code>********************************************************************************</code>
                        {% endif %}
                    </td>
                    <td>{{ accessToken.createTimestamp|format_datetime('short', 'short') }}</td>
                    <td>
                        <form method="POST"
                              class="d-inline-block"
                              action="{{ path('DR\\Review\\Controller\\App\\User\\DeleteUserAccessTokenController', {id: accessToken.id}) }}"
                              {{ stimulus_controller('component--confirm-submit') }}
                              data-confirm-message="{{ 'are.you.sure.you.want.to.delete.this'|trans }}">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ form_start(settingViewModel.addTokenForm) }}
    <div class="user-access-token-grid mb-5">
        {{ form_widget(settingViewModel.addTokenForm.name) }}
        {{ form_widget(settingViewModel.addTokenForm.create) }}
    </div>
    {{ form_rest(settingViewModel.addTokenForm) }}
    {{ form_end(settingViewModel.addTokenForm) }}


{% endblock %}
