{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mb-4 mt-2">{{ 'user.account'|trans }}</h1>

    {% include 'app/flash/flashes.html.twig' %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('DR\\Review\\Controller\\App\\User\\UserSettingController') }}">{{ 'settings'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">{{ 'access.tokens'|trans }}</a>
        </li>
    </ul>

    <h3 class="mt-2">{{ 'access.tokens'|trans }}</h3>
    <div class="mb-4">{{ 'visit.the.api.at'|trans }} <a href="/api/docs">/api/docs</a>.</div>

    {% if accessTokenModel.accessTokens|length > 0 %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">{{ 'name'|trans }}</th>
                <th scope="col">{{ 'token'|trans }}</th>
                <th scope="col">{{ 'created.at'|trans }}</th>
                <th scope="col">{{ 'usages'|trans }}</th>
                <th scope="col">{{ 'last.used.at'|trans }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for accessToken in accessTokenModel.accessTokens %}
                <tr>
                    <th scope="row">{{ accessToken.name }}</th>
                    <td>
                        {% if date().timestamp - accessToken.createTimestamp <= 300 %}
                            <code>{{ accessToken.token }}</code>
                            <div class="small text-secondary">{{ 'access.token.visibility.duration'|trans }}</div>
                        {% else %}
                            <code>********************************************************************************</code>
                        {% endif %}
                    </td>
                    <td>{{ accessToken.createTimestamp|format_datetime('short', 'short') }}</td>
                    <td>{{ accessToken.usages }}</td>
                    <td>
                        {% if accessToken.useTimestamp == null %}
                            {{ 'never'|trans }}
                        {% else %}
                            {{ accessToken.useTimestamp|format_datetime('short', 'short') }}
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST"
                              class="d-inline-block"
                              action="{{ path('DR\\Review\\Controller\\App\\User\\DeleteUserAccessTokenController', {id: accessToken.id}) }}"
                                {{ stimulus_controller('component--confirm-submit') }}
                              data-confirm-message="{{ 'are.you.sure.you.want.to.delete.this'|trans }}">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ form_start(accessTokenModel.addTokenForm) }}
    <div class="user-access-token-grid mb-5">
        {{ form_widget(accessTokenModel.addTokenForm.name) }}
        {{ form_widget(accessTokenModel.addTokenForm.create) }}
    </div>
    {{ form_rest(accessTokenModel.addTokenForm) }}
    {{ form_end(accessTokenModel.addTokenForm) }}
{% endblock %}
