{# reviewModel: ReviewViewModel #}
{# review:      CodeReview #}
<div class="review-grid-header">
    <h3 class="m-0 overflow-hidden review-heading" title="{{ review.title }}">
        <button class="btn btn-primary btn-sm">{{ review.state|trans }}</button>
        {{ 'CR-' ~ review.projectId ~ ' ' }} {{ review.title|external_links }}
    </h3>

    {% include 'app/flash/flashes.html.twig' %}

    {% if reviewModel.descriptionVisible and review.description|length > 0 %}
        <div class="mb-2 me-2 bg-primary bg-opacity-10 rounded-2 p-2 review--description">
            {{- review.description|markdown -}}
        </div>
    {% endif %}
</div>
