{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mt-2">{{ revisionsModel.repository.name|capitalize }} - {{ 'revisions'|trans }}</h1>

    <form method="get" class="pb-3">
        <div class="input-group">
            <input type="search" name="search" value="{{ revisionsModel.searchQuery }}"
                   class="form-control"
                   placeholder="{{ 'search.revisions'|trans }}"/>
            {% if revisionsModel.searchQuery != '' %}
                <a href="?search=" class="btn btn-secondary">&times;</a>
            {% endif %}
        </div>
    </form>

    <table class="table table-bordered table-hover rule-table">
        <thead>
        <tr>
            <th scope="col">{{ 'hash'|trans }}</th>
            <th scope="col">{{ 'title'|trans }}</th>
            <th scope="col">{{ 'author'|trans }}</th>
            <th scope="col">{{ 'at'|trans }}</th>
            <th scope="col">{{ 'review'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {%- for revision in revisionsModel.revisions -%}
            <tr>
                <td><code>{{ revision.commitHash|slice(0, 7) }}</code></td>
                <td class="fw-bold">{{ revision.title|external_links(revisionsModel.externalLinks) }}</td>
                <td>{{ revision.authorName }}</td>
                <td>{{ revision.createTimestamp|date('M j, H:i') }}</td>
                <td>
                    {% if revision.review != null %}
                        <a href="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ReviewController', {id: revision.review.id}) }}">
                            CR-{{ revision.review.id }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {%- endfor -%}
        <tbody>
    </table>

    {% include 'app/review/paginator.html.twig' with {paginatorModel: revisionsModel.paginator} %}

{% endblock %}
