{# review:            CodeReview #}
{# revisionViewModel: ReviewRevisionViewModel #}

{% set detachRevisionForm     = revisionViewModel.detachRevisionForm %}
{% set revisionVisibilityForm = revisionViewModel.revisionVisibilityForm %}
<div class="review-revision mt-3" {{ stimulus_controller('component--checkbox-select-all') }}>
    <h6 class="border-bottom review-revision--header">
        <input type="checkbox" class="form-check-input mb-1"
                {{ stimulus_action('component--checkbox-select-all', 'toggleAll', 'change') }}
               data-role="detach">
        {{ 'revisions'|trans }}

        <div class="float-end me-3">
            <a href="#" class="p-1 c-icon-checkbox"
                    {{ stimulus_controller('component--icon-checkbox') }}
                    {{ stimulus_action('component--icon-checkbox', 'onClick', 'click') }}>
                <input type="checkbox"
                        {{ stimulus_action('component--checkbox-select-all', 'toggleAll', 'change') }}
                        {{ stimulus_target('component--icon-checkbox', 'checkbox') }}
                       data-role="visibility" class="d-none icon-checkbox" checked>
                <label></label>
                <i class="bi bi-eye-fill icon-checked"></i>
                <i class="bi bi-eye-slash icon-unchecked"></i>
            </a>
        </div>
    </h6>

    {%- for revision in revisionViewModel.revisions -%}
        {% set fileChange = revisionViewModel.fileChanges[revision.id] ?? null %}

        <div class="review-revision--grid">
            <div class="review-revision--selection">
                {% if review.type != 'branch' %}
                    {{ form_widget(detachRevisionForm['rev' ~ revision.id]) }}
                {% endif %}
            </div>
            <div class="overflow-hidden">
                <div class="text-secondary review-revision--author-time small" title="{{ revision.authorEmail ~ ' - ' ~ revision.authorName }}">
                    {{ revision.authorName }} - {{ revision.createTimestamp|format_datetime('short', 'short') }}
                </div>
                {% if revision.firstBranch %}
                    <div class="review-revision--branch badge bg-primary text-nowrap overflow-hidden" title="{{ revision.firstBranch }}">
                        {{- revision.firstBranch -}}
                    </div>
                {% endif %}
                <div class="fw-bold review-revision--title-author">
                    {{- revision.title -}}
                </div>
                {% if fileChange is not same as (null) %}
                <div class="small">
                    {{ 'files.changed'|trans }}: <span class="text-primary">{{ fileChange.fileCount }}</span>,
                    <span class="text-success">+{{ fileChange.linesAdded }}</span>,
                    <span class="text-danger">-{{ fileChange.linesRemoved }}</span>
                </div>
                {% endif %}
            </div>

            <div>
                <small class="text-muted d-block review-revision--commit-hash" title="{{ revision.commitHash }}">
                    {{- revision.commitHash|slice(0, 7) }}
                </small>
                <div class="text-end me-3">
                    <a href="#" class="p-1 c-icon-checkbox"
                            {{ stimulus_controller('component--icon-checkbox') }}
                            {{ stimulus_action('component--icon-checkbox', 'onClick', 'click') }}>
                        {{- form_widget(
                            revisionVisibilityForm.visibilities[loop.index0].visible,
                            {attr: {class: 'btn-check icon-checkbox', 'data-component--icon-checkbox-target': 'checkbox'}}
                        ) -}}
                        <i class="bi bi-eye-fill icon-checked"></i>
                        <i class="bi bi-eye-slash icon-unchecked"></i>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <em>{{ 'review.no.revisions'|trans }}</em>

    {%- endfor -%}

    <div class="pt-1 pb-2 clearfix sticky-bottom bg-body">
        {% if review.type != 'branch' %}
            <div class="float-start">
                <a href="{{ path('DR\\Review\\Controller\\App\\Revision\\AttachRevisionSelectionController', {id: review.id}) }}"
                   class="btn btn-outline-success" {{ stimulus_controller('button') }}>{{ 'add.revisions'|trans }}</a>
            </div>

            <div class="float-start ms-2 {% if revisionViewModel.revisions|length == 0 %}d-none{% endif %}">
                {{ form_start(detachRevisionForm) }}
                {{ form_widget(detachRevisionForm.detach, {attr: {class: 'btn-outline-danger btn', 'data-controller': 'button'}}) }}
                {{ form_end(detachRevisionForm) }}
            </div>
        {% endif %}

        <div class="float-end ms-2 {% if revisionViewModel.revisions|length == 0 %}d-none{% endif %}">
            {{ form_start(revisionVisibilityForm) }}
            <button class="btn btn-outline-primary" {{ stimulus_controller('button') }}>
                <i class="bi bi-eye-fill"></i>
                <i class="bi bi-eye-slash"></i>
            </button>
            {{ form_end(revisionVisibilityForm) }}
        </div>
    </div>
</div>
