{# reviewModel: ReviewViewModel #}
{# review:      CodeReview #}
<div class="review-grid-header">
    <div class="d-flex align-items-center m-0 review-heading flex-nowrap">
        {% if review.type == 'branch' %}
            <button class="btn btn-primary btn-sm me-2" title="{{ review.referenceId }}">{{ 'branch.review'|trans }}</button>
            <div class="review-change-branch-form me-2">
                {{ form(reviewModel.branchReviewViewModel.form) }}
            </div>
        {% endif %}

        {% if review.type != 'branch' and reviewModel.similarReviews|length > 1 %}
            <div class="dropdown me-2" {{ stimulus_controller('component--dropdown-menu') }}>
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                        {{ stimulus_target('component--dropdown-menu', 'button') }}
                        {{ stimulus_action('component--dropdown-menu', 'show', 'click') }}>
                    {{ review.repository.displayName }}
                </button>
                <ul class="dropdown-menu" {{ stimulus_target('component--dropdown-menu', 'dropdown') }}>
                    {% for similarReview in reviewModel.similarReviews %}
                        <li>
                            <a class="dropdown-item" href="{{ path('DR\\Review\\Controller\\App\\Review\\ReviewController', {review: similarReview}) }}">
                                {{ similarReview.repository.displayName }} - CR-{{ similarReview.projectId }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button class="btn btn-primary btn-sm me-2">{{ review.state|trans }}</button>

        <h3 class="m-0 overflow-hidden text-truncate" title="{{ review.title }}">
            {{- 'CR-' ~ review.projectId ~ ' ' }}{{ review.title|external_links -}}
        </h3>

        <button class="btn btn-outline-primary btn-sm border-0"
                data-class-after-copy="btn btn-success btn-sm border-0"
                title="{{ 'copy.title.to.clipboard'|trans }}"
                {{ stimulus_controller('component--copy-to-clipboard') }}
                {{ stimulus_action('component--copy-to-clipboard', 'onClick', 'click') }}
                data-content="{{ review.title }}"
        ><i class="bi bi-clipboard-check-fill"
            data-class-after-copy="bi bi-check-lg"
            data-role="icon"></i></button>

        <button class="btn btn-outline-primary btn-sm border-0"
                data-class-after-copy="btn btn-success btn-sm border-0"
                title="{{ 'copy.link.to.clipboard'|trans }}"
                {{ stimulus_controller('component--copy-to-clipboard') }}
                {{ stimulus_action('component--copy-to-clipboard', 'onClick', 'click') }}
                data-content="{{ app_absolute_url ~ path('DR\\Review\\Controller\\App\\Review\\ReviewController', {review: review}) }}"
        ><i class="bi  bi-link-45deg"
            data-class-before-copy="bi bi-link-45deg"
            data-class-after-copy="bi bi-check-lg"
            data-role="icon"></i></button>

        <a href="#"
           target="_blank"
           rel="noopener noreferrer"
           class="btn btn-outline-primary btn-sm border-0 d-none dr-btn-orange"
            {{ stimulus_controller('merge-request', {id: review.id}) }}
        ><i class="bi" {{ stimulus_target('merge-request', 'icon') }}></i>
        </a>
    </div>

    {% include 'app/flash/flashes.html.twig' %}

    {% if reviewModel.descriptionVisible and review.description|length > 0 %}
        <div class="mt-2 me-2 bg-primary bg-opacity-10 rounded-2 p-2 review--description">
            {{- review.description|markdown -}}
        </div>
    {% endif %}
</div>
