{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set review = reviewModel.review %}
    {% set revisions = review.revisions %}

    <h3 class="mt-2">{{ 'CR-' ~ review.id ~ ' ' ~ review.title }}</h3>
    State: {{ review.state }}

    <fieldset>
        <legend>Revisions</legend>
        {% for revision in revisions %}
            {{ revision.commitHash }}<br>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Author</legend>
        {% for email, name in reviewModel.authors %}
            {{ name }}<br>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Reviewers</legend>
        {% for reviewer in review.reviewers %}
            {{ reviewer.user.name }} ({{ reviewer.state }})<br>
        {% endfor %}

        {{ form(reviewModel.addReviewerForm) }}
    </fieldset>

    <fieldset>
        <legend>Files</legend>
        {% for file in reviewModel.files %}
            <a href="?filePath={{ file.file.pathname|e('url') }}">
                {{ file.filename }}
            </a><br>
        {% endfor %}
    </fieldset>

    {%- set line_nr_length_before = 5 -%}
    {%- set line_nr_length_after = 5 -%}
    {% include 'commit/commit.file.html.twig' with {file: reviewModel.selectedFile} %}

{% endblock %}
