{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mt-2">{{ reviewsModel.repository.name|capitalize }} - {{ 'reviews'|trans }}</h1>

    <form method="get">
        <div class="input-group">
            <input type="search" name="search" value="{{ reviewsModel.searchQuery }}" class="form-control" placeholder="{{ 'search.review'|trans }}"/>
            {% if reviewsModel.searchQuery != '' %}
                <a href="?search=" class="btn btn-secondary">&times;</a>
            {% endif %}
        </div>
    </form>

    <div class="quick-links form-text d-block mb-3">
        <span>{{ 'review.search.hint'|trans|raw }}</span>
        <a href="?search=state%3Aclosed" class="ms-1 form-text d-inline-block float-end">{{ 'closed.reviews'|trans }}</a>
        <a href="?search=state%3Aopen" class="ms-1 form-text d-inline-block float-end">{{ 'open.reviews'|trans }}</a>
        <a href="?search=" class="ms-1 form-text d-inline-block float-end">{{ 'all.reviews'|trans }}</a>
    </div>

    <div class="list-group">
        {%- for review in reviewsModel.reviews -%}
            <a class="list-group-item list-group-item-action"
               href="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ReviewController', {id: review.id}) }}">
                <b>CR-{{- review.projectId -}}</b>{{- ' ' ~ review.title -}}
            </a>
        {%- endfor -%}
    </div>

    {% if reviewsModel.lastPage > 1 %}
        <nav class="mt-3">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page=1&search={{ reviewsModel.searchQuery|e('url') }}">
                        <span>&laquo;</span>
                    </a>
                </li>

                {% set firstPage = max(1, reviewsModel.page - 10) %}
                {% set lastPage = min(reviewsModel.lastPage, reviewsModel.page + 10) %}
                {% for i in range(firstPage, lastPage) %}
                    <li class="page-item  {{ reviewsModel.page == i ? 'active' : '' }}">
                        <a class="page-link" href="?page={{ i }}&search={{ reviewsModel.searchQuery|e('url') }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ reviewsModel.lastPage }}&search={{ reviewsModel.searchQuery|e('url') }}">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
