{% macro recursiveFileTree(directory) %}
    {% import _self as self %}

    {% if directory.directories|length %}
        <ul class="review-file-tree--directories text-nowrap">
            {% for subdirectory in directory.directories %}
                <li class="review-file-tree--directory">
                    <i class="bi bi-folder-fill icon-directory"></i> {{ subdirectory.name }}
                    {{ self.recursiveFileTree(subdirectory) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if directory.files|length %}
        <ul class="review-file-tree--files">
            {% for file in directory.files %}
                <li class="review-file-tree--file">
                    <span class="fileChangeState">
                        {%- if file.added -%}
                            +
                        {%- elseif file.deleted -%}
                            -
                        {%- elseif file.modified -%}
                            *
                        {%- endif -%}
                    </span>
                    <i class="bi bi-file-earmark-code-fill icon-file"></i>

                    <a href="?filePath={{ file.file.pathname|e('url') }}">
                        {{ file.filename }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% from _self import recursiveFileTree %}

<div class="review-file-tree--directories-root">
    {{ recursiveFileTree(fileTree) }}
</div>
