{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <div class="mt-2 pb-3">
        <h2 class="float-start pe-3">{{ reviewsModel.repository.name|capitalize }}</h2>

        <ul class="nav nav-pills float-start">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:">{{ 'reviews'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\RevisionsController', {id: reviewsModel.repository.id}) }}">
                    {{ 'revisions'|trans }}
                </a>
            </li>
        </ul>
    </div>

    <form method="get">
        <div class="input-group">
            <input type="search" name="search" value="{{ reviewsModel.searchQuery }}" class="form-control" placeholder="{{ 'search.review'|trans }}"/>
            {% if reviewsModel.searchQuery != '' %}
                <a href="?search=" class="btn btn-secondary">&times;</a>
            {% endif %}
        </div>
    </form>

    <div class="quick-links form-text d-block mb-3">
        <span>{{ 'review.search.hint'|trans|raw }}</span>
        <a href="?search=state%3Aclosed" class="ms-1 form-text d-inline-block float-end">{{ 'closed.reviews'|trans }}</a>
        <a href="?search=state%3Aopen" class="ms-1 form-text d-inline-block float-end">{{ 'open.reviews'|trans }}</a>
        <a href="?search=" class="ms-1 form-text d-inline-block float-end">{{ 'all.reviews'|trans }}</a>
    </div>

    <div class="list-group">
        {%- for review in reviewsModel.reviews -%}
            <a class="list-group-item list-group-item-action"
               href="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ReviewController', {id: review.id}) }}">
                <b>CR-{{- review.projectId -}}</b>{{- ' ' ~ review.title -}}
            </a>
        {%- endfor -%}
    </div>

    {% include 'app/paginator/paginator.html.twig' with {paginatorModel: reviewsModel.paginator} %}
{% endblock %}
