{% extends 'app/app.base.html.twig' %}

{% block page_content %}

    <h1 class="mt-2">{{ 'Reviews'|trans }}</h1>

    <form method="get" class="mb-3">
        <input type="search"
               name="search"
               value="{{ reviewsModel.searchQuery }}"
               class="form-control"
               placeholder="{{ 'Search code review'|trans }}"/>
    </form>

    <div class="list-group">
        {%- for review in reviewsModel.reviews -%}
            <a class="list-group-item list-group-item-action" href="#">
                <b>CR-{{- review.id -}}</b>{{- ' ' ~ review.title -}}
            </a>
        {%- endfor -%}
    </div>

{% endblock %}
