<div class="review-grid-sidebar">
    <div class="review-grid-sidebar--grid-top">
        {% include 'app/review/review.state-controls.html.twig' with {reviewModel, review, reviewer} %}

        <ul class="mt-2 nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if reviewModel.sidebarTabMode == 'overview' %}active{% endif %}"
                   href="{{ url_query_params({tab: 'overview'}) }}">
                    {{ 'overview'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if reviewModel.sidebarTabMode == 'revisions' %}active{% endif %}"
                   href="{{ url_query_params({tab: 'revisions'}) }}">
                    {{ 'revisions'|trans }}

                    {% if reviewModel.visibleRevisionCount == review.revisions|length -%}
                        ({{ review.revisions|length }})
                    {%- else -%}
                        ({{ reviewModel.visibleRevisionCount ~ '/' ~ review.revisions|length }})
                    {%- endif -%}
                </a>
            </li>
        </ul>
    </div>

    <div class="review-grid-sidebar--grid-bottom">
        {% if reviewModel.sidebarTabMode == 'revisions' %}
            {% include 'app/review/review.revisions.html.twig' with {review: review, revisionViewModel: reviewModel.revisionViewModel} %}
        {% endif %}

        {% if reviewModel.sidebarTabMode == 'overview' %}
            <h6 class="mt-1 mb-1 border-bottom">
                {% if reviewModel.authors|length > 1 %}{{ 'authors'|trans }}{% else %}{{ 'author'|trans }}{% endif %}
            </h6>
            <div class="ms-2">
                {% for email, name in reviewModel.authors %}
                    <small>{{ name }}</small><br>
                {% else %}
                    <em>{{ 'review.no.authors'|trans }}</em>
                {% endfor %}
            </div>

            <h6 class="mt-2 mb-1 border-bottom">
                {% if review.reviewers|length > 1 %}{{ 'reviewers'|trans }}{% else %}{{ 'reviewer'|trans }}{% endif %}
            </h6>
            <div class="ms-2">
                {%- for reviewer in review.reviewers -%}
                    <span class="reviewer-state small">
                        {%- if reviewer.state == 'accepted' -%}
                            😃
                        {%- elseif reviewer.state == 'rejected' -%}
                            😞
                        {%- endif -%}
                    </span>

                    <span class="reviewer-name small">{{ reviewer.user.name }}</span>

                    <form method="POST"
                          class="d-inline-block"
                          action="{{ path('DR\\Review\\Controller\\App\\Review\\Reviewer\\RemoveReviewerController', {reviewerId: reviewer.id, reviewId: review.id}) }}">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn-close reviewer-remove"></button>
                    </form><br>

                {%- endfor -%}

                {{- form(reviewModel.addReviewerForm) -}}
            </div>

            <div class="mt-1">
                {%- if reviewModel.reviewSummaryViewModel is not same as (null) -%}
                    <h6 class="m-0 pt-1 pb-1 bg-primary bg-opacity-10">{{ 'review.summary'|trans }}</h6>
                {% else %}
                    <a class="pt-1 pb-1 text-body d-block"
                       href="{{ path('DR\\Review\\Controller\\App\\Review\\ReviewController', {review: review}) }}">
                        <h6 class="m-0">{{ 'review.summary'|trans }}</h6>
                    </a>
                {% endif %}
            </div>

            <div class="clearfix mt-1 border-bottom">
                {% set summary = reviewModel.fileTreeModel.changeSummary %}

                <h6 class="float-start mb-0">{{ 'files'|trans }} ({{ summary.files }})</h6>

                <div class="float-start ms-2">
                    <span class="text-success">+{{ summary.added }}</span>
                    <span class="text-danger">-{{ summary.removed }}</span>
                </div>
            </div>
            {% if not reviewModel.fileTreeModel.fileTree.empty %}
                {% include 'app/review/review.file_tree.html.twig' with {fileTreeModel: reviewModel.fileTreeModel} %}
            {% else %}
                <em>{{ 'review.no.files'|trans }}</em>
            {% endif %}

        {% endif %}
    </div>
</div>
