{# reviewModel: ReviewViewModel #}
{# review:      CodeReview #}
<div class="review-grid-header">
    <h3 class="m-0 overflow-hidden review-heading">
        {% if review.type == 'branch' %}
            <button class="btn btn-primary btn-sm" title="{{ review.referenceId }}">{{ 'branch.review'|trans }}</button>
            <select class="form-select form-select-sm d-inline-block w-auto" style="max-width: 200px;">
                <option value="{{ review.targetBranch }}">{{ review.targetBranch }}</option>
                <option disabled></option>
                {% for branches in reviewModel.branchReviewViewModel.targetBranches %}
                    <option value="{{ branches }}">{{ branches }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <button class="btn btn-primary btn-sm">{{ review.state|trans }}</button>

        <span title="{{ review.title }}">
            {{- 'CR-' ~ review.projectId ~ ' ' }}{{ review.title|external_links -}}
        </span>

        <button class="btn btn-outline-primary btn-sm border-0"
                data-class-before-copy="btn btn-outline-primary btn-sm border-0"
                data-class-after-copy="btn btn-success btn-sm border-0"
                title="{{ 'copy.title.to.clipboard'|trans }}"
                {{ stimulus_controller('component--copy-to-clipboard') }}
                {{ stimulus_action('component--copy-to-clipboard', 'onClick', 'click') }}
                data-content="{{ review.title }}"
        ><i class="bi bi-clipboard-check-fill"
            data-class-before-copy="bi bi-clipboard-check-fill"
            data-class-after-copy="bi bi-check-lg"
            data-role="icon"></i></button>

        <button class="btn btn-outline-primary btn-sm border-0"
                data-class-before-copy="btn btn-outline-primary btn-sm border-0"
                data-class-after-copy="btn btn-success btn-sm border-0"
                title="{{ 'copy.link.to.clipboard'|trans }}"
                {{ stimulus_controller('component--copy-to-clipboard') }}
                {{ stimulus_action('component--copy-to-clipboard', 'onClick', 'click') }}
                data-content="{{ app_absolute_url ~ path('DR\\Review\\Controller\\App\\Review\\ReviewController', {review: review}) }}"
        ><i class="bi  bi-link-45deg"
            data-class-before-copy="bi bi-link-45deg"
            data-class-after-copy="bi bi-check-lg"
            data-role="icon"></i></button>

        <a href="#"
           target="_blank"
           rel="noopener noreferrer"
           class="btn btn-outline-primary btn-sm border-0 d-none dr-btn-orange"
            {{ stimulus_controller('merge-request', {id: review.id}) }}
        ><i class="bi" {{ stimulus_target('merge-request', 'icon') }}></i>
        </a>
    </h3>

    {% include 'app/flash/flashes.html.twig' %}

    {% if reviewModel.descriptionVisible and review.description|length > 0 %}
        <div class="mt-2 me-2 bg-primary bg-opacity-10 rounded-2 p-2 review--description">
            {{- review.description|markdown -}}
        </div>
    {% endif %}
</div>
