{# revisionViewModel: ReviewRevisionViewModel #}

{% set detachRevisionForm = revisionViewModel.detachRevisionForm %}
<div class="review-revision mt-3">
    <h5>{{ 'revisions'|trans }}</h5>

    {{ form_start(detachRevisionForm) }}
    {%- for revision in revisionViewModel.revisions -%}

        <div class="review-revision--grid">
            <div class="review-revision--selection">
                {{ form_widget(detachRevisionForm['rev' ~ revision.id]) }}
            </div>
            <div class="review-revision--title-author">
                <div class="text-primary">{{ revision.title }}</div>
                <div class="text-secondary review-revision--author-time" title="{{ revision.authorEmail ~ ' - ' ~ revision.authorName }}">
                    {{ revision.authorName }} - {{ revision.createTimestamp|date('M j, H:i') }}
                </div>
            </div>
            <small class="text-muted review-revision--commit-hash" title="{{ revision.commitHash }}">
                {{- revision.commitHash|slice(0, 7) }}
            </small>
        </div>

    {%- endfor -%}

    <div class="pt-3">
        {{ form_widget(detachRevisionForm.detach) }}
    </div>

    {{ form_end(detachRevisionForm) }}
</div>
