{# review:      CodeReview #}
{# reviewer:    CodeReviewer #}
{# reviewModel: ReviewViewModel #}

{% if review.state == 'open' and (reviewer == null or reviewer.state == 'open') %}
    <form method="POST"
          class="d-inline-block"
          action="{{ path('DR\\Review\\Controller\\App\\Review\\Reviewer\\ChangeReviewerStateController', {id: review.id}) }}">
        <input type="hidden" name="state" value="accepted"/>

        {% set openComments = reviewModel.openComments %}
        <button type="submit"
                class="btn btn-outline-success btn-sm"
                {{ stimulus_controller('review-accept', {reviewId: review.id, openComments: openComments, confirmQuestion: 'confirm.accept.review'|trans, title: 'accept.open.comments'|trans}) }}
        >
            😃 {{ 'accept'|trans }}
            <span {{ stimulus_target('review-accept', 'count') }}>{{ openComments > 0 ? '(' ~ openComments ~ ')' : '' }}</span>
        </button>
    </form>

    <form method="POST"
          class="d-inline-block"
          action="{{ path('DR\\Review\\Controller\\App\\Review\\Reviewer\\ChangeReviewerStateController', {id: review.id}) }}">
        <input type="hidden" name="state" value="rejected"/>
        <button type="submit" class="btn btn-outline-primary btn-sm" {{ stimulus_controller('button') }}>😞 {{ 'raise.concern'|trans }}</button>
    </form>
{% endif %}

{% if review.state == 'open' %}
    {% if reviewer and reviewer.state != 'open' %}
        <form method="POST"
              class="d-inline-block"
              action="{{ path('DR\\Review\\Controller\\App\\Review\\Reviewer\\ChangeReviewerStateController', {id: review.id}) }}">
            <input type="hidden" name="state" value="open"/>
            <button type="submit" class="btn btn-outline-secondary btn-sm" {{ stimulus_controller('button') }}>{{ 'resume.review'|trans }}</button>
        </form>
    {% endif %}
    <form method="POST"
          class="d-inline-block"
          action="{{ path('DR\\Review\\Controller\\App\\Review\\ChangeReviewStateController', {id: review.id}) }}">
        <input type="hidden" name="state" value="closed"/>
        <button type="submit" class="btn btn-outline-secondary btn-sm" {{ stimulus_controller('button') }}>{{ 'close.review'|trans }}</button>
    </form>
{% elseif review.state == 'closed' %}
    <form method="POST"
          class="d-inline-block"
          action="{{ path('DR\\Review\\Controller\\App\\Review\\ChangeReviewStateController', {id: review.id}) }}">
        <input type="hidden" name="state" value="open"/>
        <button type="submit" class="btn btn-outline-secondary btn-sm" {{ stimulus_controller('button') }}>{{ 'reopen.review'|trans }}</button>
    </form>
{% endif %}
{% if ai_code_review_enabled and not review.aiReviewRequested %}
    <a href="{{ path('DR\\Review\\Controller\\App\\Review\\AiCodeReviewController', {id: review.id}) }}"
       class="btn btn-primary btn-sm border-0 dr-btn-purple"
       title="Request a one time code review">
        <i class="bi bi-stars"></i>
    </a>
{% endif %}
