{% extends 'app/app.wide.base.html.twig' %}

{% set review = reviewModel.review %}
{% set reviewer = reviewModel.getReviewer(app.user) %}

{%- block page_content -%}
    <div class="review-reload-required bg-primary text-white rounded-bottom ps-2 pe-2 pt-1 pb-1"
            {{ stimulus_controller('review-changed-notification', {reviewId: review.id, userId: app.user.id}) }}
    >
        {{ 'review.was.updated'|trans }}.
        <a href="#" class="text-white" data-action="click->review-changed-notification#reload">{{ 'click.to.reload'|trans }}</a>
    </div>

    <div class="review-grid-layout"
            {{ stimulus_controller('review review-comment-visibility review-navigation scroll-positioner') }}
         data-review-id="{{ review.id }}"
         data-review-add-comment-url-value="{{ path('DR\\Review\\Controller\\App\\Review\\Comment\\GetAddCommentFormController', {id: review.id}) }}">

        {%- include 'app/review/review.header.html.twig' with {reviewModel, review} -%}

        {%- include 'app/review/review.sidebar.html.twig' -%}

        {%- if reviewModel.reviewSummaryViewModel is not same as (null) -%}
            <div class="review-grid-code" data-role="file-diff-review">
                {%- include 'app/review/review.summary.html.twig' with {reviewSummaryViewModel: reviewModel.reviewSummaryViewModel} %}
            </div>
        {%- elseif reviewModel.fileDiffViewModel is not same as (null) -%}
            {% if reviewModel.fileDiffViewModel.diffMode.value == 'side-by-side' %}
                {%- include 'app/review/commit/side-by-side/commit.file.html.twig' with {fileDiffViewModel: reviewModel.fileDiffViewModel} %}
            {% else %}
                {%- include 'app/review/commit/commit.file.html.twig' with {fileDiffViewModel: reviewModel.fileDiffViewModel} %}
            {% endif %}
        {%- endif -%}
    </div>

    {%- include 'app/review/notification/review.notifications.html.twig' -%}
{%- endblock -%}

{%- block mercure -%}
    {% set topics = ['/user/' ~ app.user.id, '/review/' ~ review.id] %}
    <div {{ stimulus_controller('server-event') }} data-url="{{ mercure(topics, { subscribe: topics }) }}"></div>
{%- endblock -%}
