{% macro recursiveFileTree(fileTreeModel, directory, treeDepth) %}
    {% import _self as self %}

    {% if directory.directories|length %}
        <ul class="review-file-tree--directories text-nowrap">
            {% for subdirectory in directory.directories %}
                {% set collapsed = fileTreeModel.isFolderCollapsed(subdirectory) %}
                <li class="review-file-tree--directory {{ collapsed ? 'collapsed' : '' }}"
                        {{ stimulus_controller('collapsable-folder', {reviewId: fileTreeModel.review.id, path: subdirectory.pathname}) }}>
                    <span class="review-file-tree--directory-label" {{ stimulus_action('collapsable-folder', 'toggle', 'click') }}>
                        <i class="bi bi-folder-fill icon-directory icon-directory-default"></i>
                        <i class="bi bi-folder icon-directory icon-directory-collapsed"></i>
                        {{ subdirectory.name }}
                    </span>
                    {{ self.recursiveFileTree(fileTreeModel, subdirectory, treeDepth + 1) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if directory.files|length %}
        <ul class="review-file-tree--files text-nowrap {% if treeDepth == 0 %}review-file-tree--files-root{% endif %}">
            {% for file in directory.files %}
                {% set isFileSeen = fileTreeModel.fileSeen(file) or fileTreeModel.fileSelected(file) %}

                <li class="review-file-tree--file
                    {%- if fileTreeModel.fileSelected(file) %} bg-primary bg-opacity-10
                    {%- elseif not isFileSeen %} review-file-tree--unseen{% endif -%}"
                    data-role="review-file-tree-file"
                    {%- if fileTreeModel.fileSelected(file) %}{{ stimulus_target('review-file-tree', 'activeFile') }}{% endif %}
                >
                    <a href="?filePath={{ file|review_file_path|e('url') }}"
                       data-review-file-path="{{ file|review_file_path }}"
                       data-role="file-tree-url"
                       data-selected="{{ fileTreeModel.fileSelected(file) ? 1 : 0 }}"
                       data-unseen="{{ isFileSeen ? 0 : 1 }}"
                       class="review-file-tree--file-link text-decoration-none text-nowrap text-truncate me-2">
                        {%- if file.rename -%}
                            <span class="diff-file__file-change-state text-primary">↗</span>
                        {%- elseif file.added -%}
                            <span class="diff-file__file-change-state text-success">+</span>
                        {%- elseif file.deleted -%}
                            <span class="diff-file__file-change-state text-danger">-</span>
                        {%- elseif file.modified -%}
                            <span class="diff-file__file-change-state text-primary">*</span>
                        {%- endif -%}

                        <i class="bi bi-file-earmark-code-fill text-body-tertiary"></i>

                        <span class="review-file-tree--file-name">{{ file.filename }}</span>
                    </a>

                    <span class="review-file-tree--file-status float-end text-nowrap text-body-tertiary">
                        {% set commentStatus = fileTreeModel.getCommentsForFile(file) %}
                        {% if commentStatus.total > 0 %}
                            <span>
                                {%- if commentStatus.unresolved > 0 -%}
                                    <span class="fw-bold text-danger">{{ commentStatus.unresolved }}</span>/
                                {%- endif -%}
                                <span class="fw-bold ">{{- commentStatus.total -}}</span>
                            </span>
                        {% endif %}

                        {% if file.nrOfLinesAdded > 0 %}
                            <span class="ps-1 bold text-success">+{{ file.nrOfLinesAdded }}</span>
                        {% endif %}
                        {% if file.nrOfLinesRemoved > 0 %}
                            <span class="ps-1 bold text-danger">-{{ file.nrOfLinesRemoved }}</span>
                        {% endif %}

                        <span class="review-file-tree--file-seen-status {% if isFileSeen %}seen{% endif %}"
                              data-review-id="{{ fileTreeModel.review.id }}"
                              data-file-path="{{ file.file.pathname }}"
                              data-seen-status="{% if isFileSeen %}1{% else %}0{% endif %}"
                              data-action="click->review-file-tree#toggleFileSeenStatus"
                        ></span>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% from _self import recursiveFileTree %}

<div class="review-file-tree--directories-root"
        {{ stimulus_controller('review-file-tree') }}
        data-url="{{ path('DR\\Review\\Controller\\App\\Review\\ReviewFileTreeController', {id: fileTreeModel.review.id}) }}"
        data-review-id="{{ fileTreeModel.review.id }}"
        {% if fileTreeModel.selectedFile is not same as (null) -%}
            data-selected-file="{{ fileTreeModel.selectedFile|review_file_path }}"
        {%- endif -%}
>
    {{ recursiveFileTree(fileTreeModel, fileTreeModel.fileTree, 0) }}
</div>
