{# review:            CodeReview #}
{# revisionViewModel: ReviewRevisionViewModel #}

{% set detachRevisionForm = revisionViewModel.detachRevisionForm %}
<div class="review-revision mt-3" {{ stimulus_controller('checkbox-select-all') }}>
    <h6 class="border-bottom review-revision--header">
        <input type="checkbox" class="form-check-input mb-1"
               {{ stimulus_action('checkbox-select-all', 'toggleAll', 'change') }}
                data-role="detach"
        >
        {{ 'revisions'|trans }}
    </h6>

    {{ form_start(detachRevisionForm) }}
    {%- for revision in revisionViewModel.revisions -%}

        <div class="review-revision--grid">
            <div class="review-revision--selection">
                {{ form_widget(detachRevisionForm['rev' ~ revision.id]) }}
            </div>
            <div class="review-revision--title-author">
                <div class="text-primary">{{ revision.title }}</div>
                <div class="text-secondary review-revision--author-time" title="{{ revision.authorEmail ~ ' - ' ~ revision.authorName }}">
                    {{ revision.authorName }} - {{ revision.createTimestamp|format_datetime('short', 'short') }}
                </div>
            </div>
            <div>
                <small class="text-muted d-block review-revision--commit-hash" title="{{ revision.commitHash }}">
                    {{- revision.commitHash|slice(0, 7) }}
                </small>
                <div class="text-center pt-1">
                    {% include 'app/component/icon.checkbox.html.twig' %}
                </div>
            </div>
        </div>
    {% else %}
        <em>{{ 'review.no.revisions'|trans }}</em>

    {%- endfor -%}

    <div class="pt-1 pb-2 clearfix sticky-bottom bg-body">
        <div class="float-start">
            <a href="{{ path('DR\\Review\\Controller\\App\\Revision\\AttachRevisionSelectionController', {id: review.id}) }}"
               class="btn btn-outline-success" {{ stimulus_controller('button') }}>{{ 'add.revisions'|trans }}</a>
        </div>

        <div class="float-start ms-2 {% if revisionViewModel.revisions|length == 0 %}d-none{% endif %}">
            {{ form_widget(detachRevisionForm.detach, {attr: {class: 'btn-outline-danger btn', 'data-controller': 'button'}}) }}
        </div>

        <div class="float-end ms-2 {% if revisionViewModel.revisions|length == 0 %}d-none{% endif %}">
            <button class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
                <i class="bi bi-eye-slash"></i>
            </button>
        </div>
    </div>

    {{ form_end(detachRevisionForm) }}
</div>
