{% extends 'app/app.wide.base.html.twig' %}

{% block page_content %}
    {% set review = reviewModel.review %}
    {% set revisions = review.revisions %}

    <div class="review-grid-layout" data-controller="Review">
        <div class="review-grid-header">
            <h3 class="mt-2">
                <button class="btn btn-primary btn-sm">{{ review.state|trans }}</button>
                {{ 'CR-' ~ review.id ~ ' ' }} {{ review.title|external_links(reviewModel.externalLinks) }}
            </h3>

            {% set reviewer = reviewModel.getReviewer(app.user) %}
            {% if review.state == 'open' and reviewer and reviewer.state == 'open' %}
                <form method="POST"
                      class="d-inline-block"
                      action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ChangeReviewerStateController', {id: review.id}) }}">
                    <input type="hidden" name="state" value="accepted"/>
                    <button type="submit" class="btn btn-outline-success btn-sm">😃 {{ 'accept'|trans }}</button>
                </form>

                <form method="POST"
                      class="d-inline-block"
                      action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ChangeReviewerStateController', {id: review.id}) }}">
                    <input type="hidden" name="state" value="rejected"/>
                    <button type="submit" class="btn btn-outline-primary btn-sm">😞 {{ 'raise.concern'|trans }}</button>
                </form>
            {% endif %}

            {% if review.state == 'open' %}
                {% if reviewer and reviewer.state != 'open' %}
                    <form method="POST"
                          class="d-inline-block"
                          action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ChangeReviewerStateController', {id: review.id}) }}">
                        <input type="hidden" name="state" value="open"/>
                        <button type="submit" class="btn btn-outline-dark btn-sm">{{ 'resume.review'|trans }}</button>
                    </form>
                {% endif %}
                <form method="POST"
                      class="d-inline-block"
                      action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ChangeReviewStateController', {id: review.id}) }}">
                    <input type="hidden" name="state" value="closed"/>
                    <button type="submit" class="btn btn-outline-dark btn-sm">{{ 'close.review'|trans }}</button>
                </form>
            {% elseif review.state == 'closed' %}
                <form method="POST"
                      class="d-inline-block"
                      action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ChangeReviewStateController', {id: review.id}) }}">
                    <input type="hidden" name="state" value="open"/>
                    <button type="submit" class="btn btn-outline-dark btn-sm">{{ 'reopen.review'|trans }}</button>
                </form>
            {% endif %}
        </div>

        <div class="review-grid-sidebar">

            <fieldset>
                <legend>Revisions</legend>
                {%- for revision in revisions -%}
                    <span title="{{ revision.authorName }} - {{ revision.commitHash }}">
                        {{- revision.commitHash|slice(0, 7) }}{{ loop.last ? '' : ',' }}
                    </span>
                {%- endfor -%}
            </fieldset>

            <fieldset>
                <legend>Author</legend>
                {% for email, name in reviewModel.authors %}
                    {{ name }}<br>
                {% endfor %}
            </fieldset>

            <fieldset>
                <legend>Reviewers</legend>
                {% for reviewer in review.reviewers %}
                    <span class="reviewer-state">
                        {%- if reviewer.state == 'accepted' -%}
                            😃
                        {%- elseif reviewer.state == 'rejected' -%}
                            😞
                        {%- endif -%}
                    </span>

                    <span class="reviewer-name">{{ reviewer.user.name }}</span>

                    <form method="POST"
                          class="d-inline-block"
                          action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\RemoveReviewerController', {reviewerId: reviewer.id, reviewId: review.id}) }}">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn-close reviewer-remove"></button>
                    </form><br>

                {% endfor %}

                {{ form(reviewModel.addReviewerForm) }}
            </fieldset>

            <fieldset>
                <legend>Files</legend>
                {% include 'app/review/review.file_tree.html.twig' with {fileTreeModel: reviewModel.fileTreeModel} %}
            </fieldset>
        </div>

        <div class="review-grid-code">
            {%- include 'app/review/commit/commit.file.html.twig' with {fileDiffViewModel: reviewModel.fileDiffViewModel} %}
        </div>
    </div>

{% endblock %}
