<fieldset class="pb-4" {{ stimulus_controller('filter') }} data-filter-count-value="{{ filters|length }}">
    <legend>{{ title }}</legend>

    <div {{ stimulus_target('filter', 'filterList') }}>
        {% for filter in filters %}
            {% include '/app/notification/filter.html.twig' %}
        {% endfor %}
    </div>

    <template {{ stimulus_target('filter', 'filterTemplate') }}>
        {% include '/app/notification/filter.html.twig' with {filter: filters.vars.prototype} %}
    </template>

    <a href="#" {{ stimulus_action('filter', 'addFilter', 'click') }} class="btn btn-outline-primary">
        {{ 'add.filter'|trans }}
    </a>
</fieldset>
