<fieldset class="pb-4" {{ stimulus_controller('recipients') }} data-recipients-count-value="{{ recipients|length }}">
    <legend>{{ 'recipients'|trans }}</legend>

    <div {{ stimulus_target('recipients', 'recipientList') }}>
        {% for recipient in recipients %}
            {% include '/app/notification/recipient.html.twig' %}
        {% endfor %}
    </div>

    <template {{ stimulus_target('recipients', 'recipientTemplate') }}>
        {% include '/app/notification/recipient.html.twig' with {recipient: recipients.vars.prototype} %}
    </template>

    <a href="#" {{ stimulus_action('recipients', 'addRecipient', 'click') }} class="btn btn-outline-primary">
        {{ 'add.recipient'|trans }}
    </a>
</fieldset>
