{% extends 'app/app.base.html.twig' %}

{% block page_content %}

    {% include 'app/flash/flashes.html.twig' %}

    <h1 class="mt-2">{{ 'notification.history'|trans }}</h1>

    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('DR\\Review\\Controller\\App\\Notification\\RulesController') }}">{{ 'rules'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">{{ 'history'|trans }}</a>
        </li>
    </ul>

    <div class="ps-2 pb-2">
        {{ 'show'|trans|capitalize }}:
        <a href="?filter=">{{ 'all'|trans }}</a>
        <a href="?filter=unread">{{ 'unread'|trans }}</a>
        <a href="?filter=read">{{ 'read'|trans }}</a>
    </div>

    <div class="list-group">
        {% for notification in notificationViewModel.notifications %}
            <a href="{{ path('DR\\Review\\Controller\\App\\Notification\\RuleNotificationController', {id: notification.id}) }}"
               class="list-group-item list-group-item-action {% if not notification.read %}fw-bold{% endif %}"
               target="_mail">
                {{ notification.notifyTimestamp|date('d M Y H:i:s') }} -

                [{{- app_name -}}] New revisions for:

                {{ notification.rule.name }}
            </a>
        {% endfor %}

    </div>

{% endblock %}
