{#- reply: CommentReply -#}
{%- apply inline_css(source('@styles/mail/comment.css')) -%}
<div class="comment__reply">
    <div class="comment__author_and_time">
        <span class="comment__author">{{ reply.user.name }}</span>
        <span class="comment__datetime" title="{{ reply.updateTimestamp|format_datetime('full', 'full') }}">
            {{ 'on'|trans }} {{ reply.updateTimestamp|format_datetime('short', 'short') }}
        </span>
    </div>

    <div class="comment__message">
        {{ reply.message|markdown }}
    </div>
</div>
{%- endapply -%}
