<div class="diff-file__file-revision-info clearfix pb-2">
    <div class="float-start">
        <div>
            {%- if file.rename -%}
                <span class="diff-file__file-change-state text-primary">↗</span>
            {%- elseif file.added -%}
                <span class="diff-file__file-change-state text-success">+</span>
            {%- elseif file.deleted -%}
                <span class="diff-file__file-change-state text-danger">-</span>
            {%- elseif file.modified -%}
                <span class="diff-file__file-change-state text-primary">*</span>
            {%- endif -%}
            <span class="diff-file__file-name fw-bold text-primary">{{ file.filename }}</span>
            <span class="diff-file__directory-name">{{ file.dirname }}</span>
        </div>

        {%- if file.rename -%}
            <div class="diff-file__file-mode-change">{{ 'renamed.from'|trans }} {{ file.filePathBefore }}</div>
        {%- endif -%}

        {%- if file.fileModeBefore is not same as (null) and file.fileModeBefore != file.fileModeAfter -%}
            <div class="diff-file__file-mode-change">{{ 'file.mode.changed'|trans }} {{ file.fileModeBefore }} &gt; {{ file.fileModeAfter }}</div>
        {%- endif -%}
    </div>

    <div class="float-end pe-2">
        <div class="dropdown d-inline-block" {{ stimulus_controller('component--dropdown-menu') }}>

            <a class="btn btn-outline-primary btn-sm dropdown-toggle" href="#"
                    {{ stimulus_target('component--dropdown-menu', 'button') }}
                    {{ stimulus_action('component--dropdown-menu', 'show', 'click') }}>
                <i class="bi bi-chat-fill" {{ stimulus_target('review-comment-visibility', 'icon') }}></i>
            </a>
            <ul class="dropdown-menu"
                    {{ stimulus_target('component--dropdown-menu', 'dropdown') }}
                    {{ stimulus_target('review-comment-visibility', 'dropdown') }}>
                <li>
                    <label class="dropdown-item">
                        <input type="radio" value="all" name="visibility" data-role="visibility" checked> {{ 'all.discussions'|trans }}
                    </label>
                </li>
                <li>
                    <label class="dropdown-item">
                        <input type="radio" value="unresolved" name="visibility" data-role="visibility"> {{ 'only.unresolved'|trans }}
                    </label>
                </li>
                <li>
                    <label class="dropdown-item">
                        <input type="radio" value="none" name="visibility" data-role="visibility"> {{ 'none'|trans }}
                    </label>
                </li>
            </ul>
        </div>

        <div class="btn-group btn-group-sm">
            {% set currentDiffMode = fileDiffViewModel.diffMode.value %}
            {% for diffMode in fileDiffViewModel.diffModes %}
                <a href="{{ url_query_params({diff: diffMode}) }}"
                   class="btn {{ currentDiffMode == diffMode ? 'btn-primary' : 'btn-outline-primary' }}"
                        {{ stimulus_controller('button') }}
                >
                    {{ ('diff.' ~ diffMode)|trans }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
