{#- fileDiffViewModel: FileDiffViewModel -#}
<div class="diff-file__file-revision-info pb-2">
    <div class="clearfix">
        <div class="float-start">
            <div>
                {%- if file.rename -%}
                    <span class="diff-file__file-change-state text-primary">↗</span>
                {%- elseif file.added -%}
                    <span class="diff-file__file-change-state text-success">+</span>
                {%- elseif file.deleted -%}
                    <span class="diff-file__file-change-state text-danger">-</span>
                {%- elseif file.modified -%}
                    <span class="diff-file__file-change-state text-primary">*</span>
                {%- endif -%}
                <span class="diff-file__file-name fw-bold text-primary">{{ file.filename }}</span>
                {% if file.dirname != '.' %}
                    <span class="diff-file__directory-name">{{ file.dirname }}</span>
                {% endif %}
            </div>

            {%- if file.rename -%}
                <div class="diff-file__file-mode-change">{{ 'renamed.from'|trans }} {{ file.filePathBefore }}</div>
            {%- endif -%}

            {%- if file.fileModeBefore is not same as (null) and file.fileModeBefore != file.fileModeAfter -%}
                <div class="diff-file__file-mode-change">{{ 'file.mode.changed'|trans }} {{ file.fileModeBefore }} &gt; {{ file.fileModeAfter }}</div>
            {%- endif -%}
        </div>

        {# file code coverage #}
        {% if fileDiffViewModel.codeQualityViewModel %}
            {%- set coveragePercentage = fileDiffViewModel.codeQualityViewModel.coveragePercentage -%}
            {%- if coveragePercentage is not same as (null) -%}
                <div class="float-start ps-2">
                    {% if coveragePercentage < 60 %}
                        {% set coverageColor = 'danger' %}
                    {% elseif coveragePercentage < 80 %}
                        {% set coverageColor = 'warning' %}
                    {% else %}
                        {% set coverageColor = 'success' %}
                    {% endif %}

                    <span class="d-inline-flex px-1 text-{{ coverageColor }} bg-d bg-opacity-10 border border-{{ coverageColor }} border-opacity-100 rounded-2 float-end">
                        Coverage: {{ coveragePercentage|format_number({fraction_digit: 2}) }}%
                    </span>
                </div>
            {%- endif -%}
        {%- endif -%}

        {# open in editor #}
        {{ ide_button(file.filePathAfter ?? file.filePathBefore) }}
        {# copy path to clipboard #}
        <button class="btn btn-outline-primary btn-sm border-0"
                data-class-after-copy="btn btn-success btn-sm border-0"
                title="{{ 'copy.path.to.clipboard'|trans }}"
                {{ stimulus_controller('component--copy-to-clipboard') }}
                {{ stimulus_action('component--copy-to-clipboard', 'onClick', 'click') }}
                data-content="{{ file.filePathAfter ?? file.filePathBefore }}">
            <i class="bi bi-clipboard-check-fill" data-class-after-copy="bi bi-check-lg" data-role="icon"></i>
        </button>

        <div class="float-end pe-2">
            {% set commentVisibility   = fileDiffViewModel.commentsViewModel.commentVisibility.value %}
            {% set comparisonPolicy    = fileDiffViewModel.commentsViewModel.comparisonPolicy.value %}
            {% set currentDiffMode     = fileDiffViewModel.diffMode.value %}
            {% set visibleContextLines = fileDiffViewModel.visibleLines %}

            {# whitespace management #}
            {% if file.modified %}
                <form class="dropdown d-inline-block"
                      method="post"
                      action="{{ path('DR\\Review\\Controller\\App\\Review\\Setting\\DiffVisibleLinesController') }}"
                      title="{{ 'show.context.lines'|trans }}"
                        {{ stimulus_controller('component--dropdown-menu review-diff-visible-lines') }}
                >
                    <a class="btn btn-outline-primary btn-sm dropdown-toggle" href="#"
                            {{ stimulus_target('component--dropdown-menu', 'button') }}
                            {{ stimulus_action('component--dropdown-menu', 'show', 'click') }}
                    >
                        <i class="bi bi-menu-button-fill"></i>
                    </a>

                    <ul class="dropdown-menu" {{ stimulus_target('component--dropdown-menu', 'dropdown') }}>
                        {% for i in range(0, 20) %}
                            <li>
                                <label class="dropdown-item">
                                    <input type="radio" name="visibleLines" value="{{ i }}" {{ i == visibleContextLines ? 'checked' : '' }}>
                                    {{ i }} lines
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </form>

                <form class="dropdown d-inline-block"
                      method="post"
                      action="{{ path('DR\\Review\\Controller\\App\\Review\\Setting\\DiffComparisonPolicyController') }}"
                        {{ stimulus_controller('component--dropdown-menu review-comparison-policy') }}
                >
                    <a class="btn btn-outline-primary btn-sm dropdown-toggle" href="#"
                            {{ stimulus_target('component--dropdown-menu', 'button') }}
                            {{ stimulus_action('component--dropdown-menu', 'show', 'click') }}>
                        {% if comparisonPolicy == 'ignore' %}
                            {{ 'ignore.whitespaces'|trans }}
                        {% elseif comparisonPolicy == 'trim' %}
                            {{ 'trim.whitespaces'|trans }}
                        {% elseif comparisonPolicy == 'ignore_empty_lines' %}
                            {{ 'ignore.whitespaces.and.empty.lines'|trans }}
                        {% else %}
                            {{ 'do.not.ignore.whitespaces'|trans }}
                        {% endif %}
                    </a>

                    <ul class="dropdown-menu" {{ stimulus_target('component--dropdown-menu', 'dropdown') }}>
                        <li>
                            <label class="dropdown-item">
                                <input type="radio" name="comparisonPolicy" value="all" {{ comparisonPolicy == 'all' ? 'checked' : '' }}>
                                {{ 'do.not.ignore.whitespaces'|trans }}
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item">
                                <input type="radio" name="comparisonPolicy" value="trim" {{ comparisonPolicy == 'trim' ? 'checked' : '' }}>
                                {{ 'trim.whitespaces'|trans }}
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item">
                                <input type="radio" name="comparisonPolicy" value="ignore" {{ comparisonPolicy == 'ignore' ? 'checked' : '' }}>
                                {{ 'ignore.whitespaces'|trans }}
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item">
                                <input type="radio"
                                       name="comparisonPolicy"
                                       value="ignore_empty_lines" {{ comparisonPolicy == 'ignore_empty_lines' ? 'checked' : '' }}>
                                {{ 'ignore.whitespaces.and.empty.lines'|trans }}
                            </label>
                        </li>
                    </ul>
                </form>
            {% endif %}

            {# comment visibility #}
            <div class="dropdown d-inline-block" {{ stimulus_controller('component--dropdown-menu') }}>
                <a class="btn btn-outline-primary btn-sm dropdown-toggle" href="#"
                        {{ stimulus_target('component--dropdown-menu', 'button') }}
                        {{ stimulus_action('component--dropdown-menu', 'show', 'click') }}>

                    {% set iconClassName = 'bi bi-chat-fill' %}
                    {% if commentVisibility == 'none' %}
                        {% set iconClassName = 'bi bi-chat' %}
                    {% elseif commentVisibility == 'unresolved' %}
                        {% set iconClassName = 'bi bi-chat-dots' %}
                    {% endif %}

                    <i class="{{ iconClassName }}"
                       data-icon-class-all="bi bi-chat-fill"
                       data-icon-class-unresolved="bi bi-chat-dots"
                       data-icon-class-none="bi bi-chat"
                            {{ stimulus_target('review-comment-visibility', 'icon') }}></i>
                </a>

                <ul class="dropdown-menu"
                        {{ stimulus_target('component--dropdown-menu', 'dropdown') }}
                        {{ stimulus_target('review-comment-visibility', 'dropdown') }}>
                    <li>
                        <label class="dropdown-item">
                            <input type="radio"
                                   value="all"
                                   name="visibility"
                                   data-role="visibility" {{ commentVisibility == 'all' ? 'checked' : '' }}>
                            {{ 'all.discussions'|trans }}
                        </label>
                    </li>
                    <li>
                        <label class="dropdown-item">
                            <input type="radio"
                                   value="unresolved"
                                   name="visibility"
                                   data-role="visibility" {{ commentVisibility == 'unresolved' ? 'checked' : '' }}>
                            {{ 'only.unresolved'|trans }}
                        </label>
                    </li>
                    <li>
                        <label class="dropdown-item">
                            <input type="radio"
                                   value="none"
                                   name="visibility"
                                   data-role="visibility" {{ commentVisibility == 'none' ? 'checked' : '' }}>
                            {{ 'none'|trans }}
                        </label>
                    </li>
                </ul>
            </div>

            {% if file.modified %}
                <form class="btn-group btn-group-sm"
                      method="post"
                      action="{{ path('DR\\Review\\Controller\\App\\Review\\Setting\\ReviewDiffModeController') }}"
                        {{ stimulus_controller('review-comparison-policy') }}
                >
                    {% for diffMode in fileDiffViewModel.diffModes %}
                        <input type="radio"
                               name="diffMode"
                               value="{{ diffMode }}"
                               class="btn-check"
                               id="diff-mode-{{ diffMode }}" {{ diffMode == currentDiffMode ? 'checked' : '' }}>
                        <label class="btn btn-outline-primary" for="diff-mode-{{ diffMode }}">
                            {{ ('diff.' ~ diffMode)|trans }}
                        </label>
                    {% endfor %}
                </form>
            {% endif %}
        </div>
    </div>

    {% if file.hasMergeConflict %}
        <div class="clearfix alert alert-warning mb-0">
            There were <b>conflicting</b> changes in this review and another. This file <em>may</em> contain changes that are not part of this review.
        </div>
    {% endif %}
</div>
