{%- set lineNrLengthBefore   = fileDiffViewModel.selectedFile.maxLineNumberLength(true) -%}
{%- set lineNrLengthAfter    = fileDiffViewModel.selectedFile.maxLineNumberLength(false) -%}
{%- set replyCommentForm     = fileDiffViewModel.replyCommentForm -%}
{%- set commentsViewModel    = fileDiffViewModel.commentsViewModel -%}
{%- set file                 = fileDiffViewModel.selectedFile -%}

<div class="review-grid-code" data-role="file-diff-review">
    {% include 'app/review/commit/commit.header.html.twig' %}
    {% include 'app/review/commit/commit.file.preview.html.twig' %}

    <div class="diff-file__file-revision-scrollpane" {{ stimulus_controller('scroll-positioner') }}>
        <div class="diff-file__file-revision-file" {{ stimulus_target('review', 'revisionFile') }}
             data-old-path="{{ file.filePathBefore }}"
             data-new-path="{{ file.filePathAfter }}"
             data-head-sha="{{ fileDiffViewModel.headSha }}"
        >
            {%- if file.blocks -%}
                {%- for detachedComment in commentsViewModel.detachedComments -%}
                    {%- include 'app/review/comment/comment.html.twig' with {comment: detachedComment, detached: true, visible: commentsViewModel.isCommentVisible(detachedComment)} -%}
                {%- endfor -%}

                <div class="diff-file__file-diff">
                    {%- for block in file.blocks -%}
                        {%- include 'app/review/commit/commit.block.html.twig' -%}

                        {%- if not loop.last -%}
                            {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                        {%- endif -%}

                    {%- endfor -%}
                </div>
            {% else %}
                <br><br>
            {%- endif -%}
        </div>
    </div>
</div>
