{%- macro line_modifier(line) -%}
    {%- if line.state == 1 -%}
        +
    {%- elseif line.state == 2 -%}
        -
    {%- elseif line.state == 3 -%}
        *
    {%- else -%}
        &nbsp;
    {%- endif -%}
{%- endmacro -%}

{%- macro line_style(line, line_visible) -%}
    {%- if line.state == 1 -%}
        diff-file__line-change-added
    {%- elseif line.state == 2 -%}
        diff-file__line-change-removed
    {%- elseif line.state == 3 -%}
        diff-file__line-change-changed
    {%- elseif line.state == 5 -%}
        diff-file__line-change-empty
    {%- endif -%}
    {{- line_visible ? '' : ' diff-file__diff-line-hidden' -}}
{%- endmacro -%}

{%- macro line_state(line) -%}
    {%- if line.state == 1 -%}
        A
    {%- elseif line.state == 2 -%}
        D
    {%- elseif line.state == 3 -%}
        M
    {%- else -%}
        U
    {%- endif -%}
{%- endmacro -%}

{%- macro gutter_double(line, lineNrLengthBefore, lineNrLengthAfter) -%}
      <span class="diff-file__line-gutter" data-action="click->review#addComment">
        {#- add comments -#}
        <span class="diff-file__add-comment"><i class="bi bi-pencil-fill"></i></span>

        {#- line number -#}
        <span class="diff-file__line-numbers">
            {{- line.lineNumberBefore|strpad(lineNrLengthBefore) -}}
            &nbsp;
            {{- line.lineNumberAfter|strpad(lineNrLengthAfter) -}}
        </span>
        {#- end -#}
    </span>
{%- endmacro -%}

{%- macro gutter_single(lineNumber, lineNrLength, addComment) -%}
    <span class="diff-file__line-gutter" {% if addComment %}data-action="click->review#addComment"{% endif %}>
        {%- if addComment -%}
            {#- add comments -#}
            <span class="diff-file__add-comment"><i class="bi bi-pencil-fill"></i></span>
        {%- endif -%}

        {#- line number -#}
        <span class="diff-file__line-numbers">
            {{- lineNumber|strpad(lineNrLength) -}}
        </span>
        {#- end -#}
    </span>
{%- endmacro -%}

{%- macro changes(line) -%}
    {%- for change in line.changes -%}
        {%- if change.type == 1 and (line.state != 1 or line.changes|length > 1) -%}
            <span class="diff-file__change-added">{{ change.code }}</span>
        {%- elseif change.type == 2 and (line.state != 2 or line.changes|length > 1) -%}
            <span class="diff-file__change-removed">{{ change.code }}</span>
        {%- else %}{{ change.code }}{% endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro code_inspection_issues(issues) -%}
    {%- for issue in issues -%}
        {{- issue.report.inspectionId ~ ': ' ~ issue.message -}}&#13;
    {%- endfor -%}
{%- endmacro -%}
