{# invisible_lines:      int #}
{# line_number: int      int #}
{# lineNrLengthBefore:   int #}
{# lineNrLengthAfter:    int #}
<div class="diff-file__block-spacer diff-file__block-spacer--clickable clearfix" data-line-number="{{ line_number|default('0') }}"
        {{ stimulus_controller('line-expander') }}

>
    <div class="diff-file__block-spacer-divider__top overflow-hidden" {{ stimulus_action('line-expander', 'expandUp', 'click') }}>
        <div class="diff-file__block-spacer-line-nr float-start">
            {%- for i in 0..(lineNrLengthBefore + lineNrLengthAfter) -%}&nbsp;{%- endfor -%}
        </div>

        <i class="indicator indicator-up float-start">&#9650;</i>
    </div>
    <div class="diff-file__block-spacer-divider__bottom overflow-hidden" {{ stimulus_action('line-expander', 'expandDown', 'click') }}>
        <div class="diff-file__block-spacer-line-nr float-start">
            {%- for i in 0..(lineNrLengthBefore + lineNrLengthAfter) -%}&nbsp;{%- endfor -%}
        </div>

        <i class="indicator indicator-down float-start">&#9660;</i>
    </div>

    <div class="diff-file_line-expander-lines">
        {{- 'diff.lines.hidden'|trans({lines: invisible_lines}) -}}
    </div>
</div>
