{#- line:                DiffLine -#}
{#- line_number:         bool     -#}
{#- line_offset:         int      -#}
{#- lineNrLengthBefore:  int      -#}
{#- lineNrLengthAfter:   int      -#}
{%- apply spaceless -%}
    <span class="diff-file__line-gutter"
          data-role="line-add-comment"
          data-line="{{ line_number }}"
          data-line-offset="{{ line_offset }}"
          data-line-after="{{ line.lineNumberAfter|default('0') }}">
        {#- add comments -#}
        <span class="diff-file__add-comment"><i class="bi bi-pencil-fill"></i></span>

        {#- line number -#}
        <span class="diff-file__line-numbers">
            {{- line.lineNumberBefore|strpad(lineNrLengthBefore) -}}
            &nbsp;
            {{- line.lineNumberAfter|strpad(lineNrLengthAfter) -}}
        </span>
    </span>
{%- endapply -%}
