<div class="diff-file__diff-block">
    {%- for line in block.lines -%}
        {%- set line_modifier = '&nbsp;' -%}
        {%- set line_style = '' -%}

        {%- if line.state == 1 -%}
            {%- set line_modifier = '+' %}
            {%- set line_style = 'diff-file__line-change-added' -%}
        {%- elseif line.state == 2 -%}
            {%- set line_modifier = '-' %}
            {%- set line_style = 'diff-file__line-change-removed' %}
        {%- elseif line.state == 3 -%}
            {%- set line_modifier = '*' %}
            {%- set line_style = 'diff-file__line-change-changed' -%}
        {%- endif -%}

        <div class="diff-file__diff-line {{ line_style }}">
            {#- gutter -#}
            <span class="diff-file__line-gutter"
                  data-role="line-add-comment"
                  data-line-before="{{ line.lineNumberBefore }}"
                  data-line-after="{{ line.lineNumberAfter }}"
            >
                {#- add comments -#}
                <span class="diff-file__add-comment"><i class="bi bi-pencil-fill"></i></span>

                {#- line number -#}
                <span class="diff-file__line-numbers">
                {{- line.lineNumberBefore|strpad(line_nr_length_before) -}}
                &nbsp;
                {{- line.lineNumberAfter|strpad(line_nr_length_after) -}}
                </span
                ></span>
            {#- line state -#}
            <span class="diff-file__diff-change-state">{{ line_modifier|raw }}</span>

            {#- code changes -#}
            {%- for change in line.changes -%}
                {%- set code = change.code|highlight(file.extension, 'diff-file__code-keyword') -%}

                {%- if change.type == 1 and (line.state != 1 or line.changes|length > 1) -%}
                    <span class="diff-file__change-added">{{ code|raw }}</span>
                {%- elseif change.type == 2 and (line.state != 2 or line.changes|length > 1) -%}
                    <span class="diff-file__change-removed">{{ code|raw }}</span>
                {%- else %}{{ code|raw }}{% endif -%}
            {%- endfor -%}
        </div>

        {#- add comment form -#}
        {%- if addCommentForm is defined and addCommentForm.diffLine is same as line -%}
        <div class="diff-file_add-commit">
            {{- form(addCommentForm.form) -}}
        </div>
        {%- endif -%}

    {%- endfor -%}
</div>
