{%- import "app/review/commit/commit.line.macros.html.twig" as macro -%}
{#- fileDiffViewModel:  FileDiffViewModel -#}
{#- line:               DiffLine          -#}
{#- line_visible:       bool              -#}
{#- lineNrLengthBefore: int               -#}
{#- lineNrLengthAfter:  int               -#}
<div class="diff-file__diff-line {{ macro.line_style(line, line_visible) }}"
     data-role="diff-line"
     data-line="{{ line_number }}"
     data-line-offset="{{ line_offset }}"
     data-line-after="{{ line.lineNumberAfter|default('0') }}"
     data-line-state="{{ macro.line_state(line) }}"
>
    {%- set codeQualityViewModel = fileDiffViewModel.codeQualityViewModel -%}

    {#- gutter -#}
    {{ macro.gutter_double(line, lineNrLengthBefore, lineNrLengthAfter) }}

    {#- coverage  #}
    {%- set coverage = codeQualityViewModel.getCoverage(line.lineNumberAfter) -%}
    {%- if coverage > 0 -%}
        <span class="diff-file__diff-line-coverage bg-success" title="{{ 'line.has.test.coverage'|trans }}"></span>
    {%- elseif coverage is same as (0) -%}
        <span class="diff-file__diff-line-coverage bg-danger"  title="{{ 'line.is.missing.test.coverage'|trans }}"></span>
    {%- elseif coverage < 0 -%}
        <span class="diff-file__diff-line-coverage no-coverage"></span>
    {%- endif -%}

    {#- line state -#}
    <span class="diff-file__diff-change-state">{{ macro.line_modifier(line) }}</span>

    {%- set issues = codeQualityViewModel.getIssues(line.lineNumberAfter) -%}

    {#- code changes -#}
    <span {% if issues %}class="diff-file__diff-line__code-inspection-issue" title="{{ macro.code_inspection_issues(issues) }}"{% endif %}>
        {%- if fileDiffViewModel.highlightedFile != null and line.changes|length == 1 and line.state != 2 and line.state != 6 -%}
            {{- fileDiffViewModel.highlightedFile.getLine(line.lineNumberAfter ?? line.lineNumberBefore ?? 0)|raw -}}
        {%- else -%}
            {{ macro.changes(line) }}
        {%- endif -%}
    </span>
</div>
