{%- import "app/review/commit/commit.line.macros.html.twig" as macro -%}
{#- fileDiffViewModel:  FileDiffViewModel -#}
{#- line:               DiffLine          -#}
{#- line_visible:       bool              -#}
{#- lineNrLengthBefore: int               -#}
{#- lineNrLengthAfter:  int               -#}
<div class="diff-file__diff-line {{ macro.line_style(line, line_visible) }}" data-line="{{ line.lineNumberAfter }}">
    {#- gutter -#}
    <span class="diff-file__line-gutter"
          data-role="line-add-comment"
          data-line="{{ line_number }}"
          data-line-offset="{{ line_offset }}"
          data-line-after="{{ line.lineNumberAfter|default('0') }}"
    >
        {#- add comments -#}
        <span class="diff-file__add-comment"><i class="bi bi-pencil-fill"></i></span>

        {#- line number -#}
        <span class="diff-file__line-numbers">
            {{- line.lineNumberBefore|strpad(lineNrLengthBefore) -}}
            &nbsp;
            {{- line.lineNumberAfter|strpad(lineNrLengthAfter) -}}
        </span></span>
    {#- line state -#}
    <span class="diff-file__diff-change-state">{{ macro.line_modifier(line) }}</span>

    {#- code changes -#}
    {%- if line.changes|length == 1 and line.state != 2 -%}
        {{- fileDiffViewModel.highlightedFile.getLine(line.lineNumberAfter ?? line.lineNumberBefore ?? 0)|raw -}}
    {%- else -%}
        {%- for change in line.changes -%}
            {%- if change.type == 1 and (line.state != 1 or line.changes|length > 1) -%}
                <span class="diff-file__change-added">{{ change.code }}</span>
            {%- elseif change.type == 2 and (line.state != 2 or line.changes|length > 1) -%}
                <span class="diff-file__change-removed">{{ change.code }}</span>
            {%- else %}{{ change.code }}{% endif -%}
        {%- endfor -%}
    {%- endif -%}
</div>
