{%- set lineNrLengthBefore   = fileDiffViewModel.maxLineNumberLength(fileDiffViewModel.selectedFile, true) -%}
{%- set lineNrLengthAfter    = fileDiffViewModel.maxLineNumberLength(fileDiffViewModel.selectedFile, false) -%}
{%- set addCommentForm       = fileDiffViewModel.addCommentForm -%}
{%- set editCommentForm      = fileDiffViewModel.editCommentForm -%}
{%- set replyCommentForm     = fileDiffViewModel.replyCommentForm -%}
{%- set editReplyCommentForm = fileDiffViewModel.editReplyCommentForm -%}
{%- set commentsViewModel    = fileDiffViewModel.commentsViewModel -%}
{%- set file                 = fileDiffViewModel.selectedFile -%}

<div class="revision-file" data-role="revision-file" data-file="{{ file.filePathBefore ?? file.filePathAfter }}">
    <div>
        {%- if file.added -%}
            <span class="diff-file__file-change-state text-success">+</span>
        {%- elseif file.deleted -%}
            <span class="diff-file__file-change-state text-danger">-</span>
        {%- elseif file.modified -%}
            <span class="diff-file__file-change-state text-primary">*</span>
        {%- endif -%}
        <span class="diff-file__file-name fw-bold text-primary">{{ file.filename }}</span>
        <span class="diff-file__directory-name">{{ file.dirname }}</span>
    </div>

    {%- if file.rename -%}
        <div class="diff-file__file-rename">{{ 'renamed.from'|trans }} {{ file.filePathBefore }}</div>
    {%- endif -%}

    {%- if file.blocks -%}
        <div class="diff-file__file-diff">
            {%- if file.modified -%}
                {%- include 'app/review/commit/commit.block.spacer.html.twig' -%}
            {%- endif -%}

            {%- for block in file.blocks -%}
                {%- include 'app/review/commit/commit.block.html.twig' -%}

                {%- if file.modified -%}
                    {%- include 'app/review/commit/commit.block.spacer.html.twig' -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
    {% else %}
        <br><br>
    {%- endif -%}
</div>
