{# timelineViewModel: TimelineViewModel #}

<div>
    <div class="review-timeline" {{ stimulus_controller('review-timeline') }}>
        {%- for entry in timelineViewModel.entries -%}
            {%- set activity = entry.activities|first -%}

            <div class="review-timeline__entry  pb-3">
                <div>{{- entry.message|raw -}}</div>

                {% if entry.comment is not same as (null) %}
                    {% include 'app/review/comment/comment.html.twig' with {comment: entry.comment, detached: false, editCommentForm: null, replyCommentForm: null, visible: true} %}
                {% endif %}

                {% if entry.reply is not same as (null) %}
                    <div class="comment__comment-thread">
                        {% include 'app/review/comment/comment.reply.html.twig' with {reply: entry.reply, indented: false} %}
                    </div>
                {% endif %}

                <div class="text-secondary small clearfix">
                    <span class="pe-1 small">
                        {{ activity.review.repository.displayName ~ ':' }}
                    </span>
                    <a class="small" href="{{ entry.url }}">
                        {{ 'CR-' ~ activity.review.projectId }}
                    </a>

                    <span class="small float-end">
                        {{ activity.createTimestamp|format_datetime('short', 'short') }}
                    </span>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>
