{% extends 'base.html.twig' %}

{% block page %}
    <div class="login-registration-container">
        <h2 class="mb-4">{{ 'sign.in' | trans }}</h2>

        {%- include 'app/flash/flashes.html.twig' -%}

        {#- Login form -#}
        {%- if app_auth_password -%}
            {{ form_start(loginModel.form) }}
            {{ form_row(loginModel.form._username) }}
            {{ form_row(loginModel.form._password) }}
            <div class="mb-3">
                {{ form_widget(loginModel.form.loginBtn) }}
                <a class="ms-2" href="{{ path('DR\\Review\\Controller\\Auth\\RegistrationController') }}">{{ 'create.new.account'|trans }}</a>
            </div>
            {{ form_rest(loginModel.form) }}
            {{ form_end(loginModel.form) }}
        {%- endif -%}

        {#- AzureAd login -#}
        {%- if app_auth_azure_ad -%}
            <a href="{{ loginModel.azureAdUrl }}" class="btn btn-outline-primary">
                <img src="{{ asset('assets/images/azure-ad-logo.svg') }}"
                     width="12"
                     height="12"
                     alt="microsoft"
                     class="single-sign-on-icon">
                {{- 'login.in.with.active.directory'|trans -}}
            </a>
        {%- endif -%}
    </div>
{% endblock %}
