<div class="diff-file__comment_form" data-controller="Comment">
    {{- form_start(form) -}}
    {{- form_widget(form.message, {attr: {class: 'diff-file__comment_textarea', 'data-role': 'comment-textarea'}}) -}}

    <div class="position-relative diff-file__comment-mention">
        <ul class="dropdown-menu" data-role="mention-suggestions"></ul>
    </div>

    <div data-role="markdown-preview" class="mb-2">
        {{ form.message.vars.value|markdown }}
    </div>

    <div class="clearfix">
        {{- form_widget(form.save, {attr: {title: 'comment.save.quick.key'}}) -}}
        <button type="button" class="ms-2 btn btn-outline-secondary" data-role="cancel-comment">{{ 'cancel'|trans }}</button>

        <span class="float-end text-secondary">
            {{ 'comment.markdown.examples'|trans }}
        </span>
    </div>
    {{- form_end(form) -}}
</div>
