{# commentId: number #}
{# form: FormView #}
{# actors: int[] #}
<div class="diff-file__comment_form"
        {{ stimulus_controller('comment-form', {actors: (actors ?? [])|join(',') }) }}
        {{ stimulus_target('review', 'commentForm') }}
        {% if commentId is defined %}data-comment-id="{{ commentId }}"{% endif %}
>
    <div class="diff-file__comment_form_max_size">
        {{- form_start(form, {attr: {'data-comment-form-target': 'form'}}) -}}

        <div class="float-end text-secondary">
            {{ 'comment.markdown.examples'|trans }}
        </div>

        {{- form_widget(form.message, {attr: {'data-comment-form-target': 'textarea', 'data-controller': 'form-submitter textarea-resize textarea-paste'}}) -}}

        <div class="position-relative diff-file__comment-mention">
            <ul class="dropdown-menu" {{ stimulus_target('comment-form', 'mentionSuggestions') }}></ul>
        </div>

        <div class="comment__markdown" {{ stimulus_target('comment-form', 'markdownPreview') }} class="mb-2">
            {{ form.message.vars.value|markdown }}
        </div>

        <div class="mt-2 clearfix">
            {{- form_widget(
                form.save,
                {attr: {title: 'comment.save.quick.key', 'data-controller': 'button', 'data-comment-form-target': 'submitButton'}}) -}}
            <button type="button" class="ms-2 btn btn-outline-secondary"
                    {{ stimulus_controller('button') }}
                    {{ stimulus_action('comment-form', 'cancelComment', 'click') }}
            >{{ 'cancel'|trans }}</button>

            {{- form_widget(form.tag, {attr: {class: 'd-inline-block w-auto ms-5'}}) }}
        </div>
        {{- form_end(form) -}}
    </div>
</div>
