{# reply:  CommentReply #}
{# indented: bool|null #}

<div class="comment__reply {% if indented is defined and not indented %}comment__reply--no-indent{% endif %}" data-reply-id="{{ reply.id }}">
    <div class="comment__author_and_time">
        <span class="comment__author">{{ reply.user.name }}</span>
        <span class="comment__datetime" title="{{ reply.updateTimestamp|format_datetime('full', 'full') }}">
            {{ 'on'|trans }} {{ reply.updateTimestamp|format_datetime('short', 'short') }}
        </span>
        {%- if reply.tag -%}
            {%- if reply.tag.value == 'suggestion' -%}
                <span class="badge rounded-pill text-bg-info">{{ 'tag.suggestion'|trans }}</span>
            {%- elseif reply.tag.value == 'explanation' -%}
                <span class="badge rounded-pill text-bg-primary">{{ 'tag.explanation'|trans }}</span>
            {%- else -%}
                <span class="badge rounded-pill text-bg-success">{{ ('tag.' ~ reply.tag.value)|trans }}</span>
            {%- endif -%}
        {%- endif -%}
        <span>
            {# copy link to clipboard #}
            <a href="#"
               class="ms-1 text-decoration-none comment__action-button"
               data-class-after-copy="ms-1 text-decoration-none comment__action-button active"
               data-content="{{ comment_reply_url(reply, true) }}#focus:reply:{{ reply.id }}"
               title="{{ 'share.comment.link'|trans }}"
                    {{ stimulus_controller('component--copy-to-clipboard') }}
                    {{ stimulus_action('component--copy-to-clipboard', 'onClick', 'click') }}
            >
                <i class="bi bi-link-45deg"
                   data-class-after-copy="bi bi-check-lg"
                   data-role="icon"
                ></i>
            </a>
            {% if reply.user == app.user %}
                <span class="comment__edit">
                    {# edit reply #}
                    <a href="#" class="ms-1 text-decoration-none"
                            {{ stimulus_action('comment-thread', 'editReplyComment', 'click') }}
                       data-reply-id="{{ reply.id }}" title="{{ 'edit.comment'|trans }}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    {# delete reply  #}
                    <a href="#"
                       class="ms-1 text-decoration-none"
                            {{ stimulus_action('comment-thread', 'deleteReplyComment', 'click') }}
                       data-url="{{ path('DR\\Review\\Controller\\App\\Review\\Comment\\DeleteCommentReplyController', {id: reply.id}) }}"
                       data-confirm-message="{{ 'confirm.delete.reply'|trans }}"
                       title="{{ 'delete.comment'|trans }}">
                        <i class="bi bi-trash-fill text-danger"></i>
                    </a>
                </span>
            {% endif %}
        </span>
    </div>

    <div class="comment__message comment__markdown">
        {{ reply.message|mentions|markdown }}
    </div>
</div>

<div class="comment__edit-reply">
    {% if editReplyCommentForm is defined and editReplyCommentForm != null and editReplyCommentForm.reply == reply %}
        {% include 'app/review/comment/comment.modify.html.twig' with {form: editReplyCommentForm.form, commentId: reply.comment.id, actors: review.actors} %}
    {% endif %}
</div>
