<div class="comment__comment-thread {% if comment.state == 'resolved' %}comment__state_resolved{% endif %}">
    <div class="comment__comment">
        {# detached comments #}
        {% if detached is defined and detached %}
            <div class="comment__detached-comment">
                <i class="bi bi-link"></i>
                {{  'discussion.points.to.modified.code'|trans({line: comment.lineReference.lineAfter}) }}
            </div>
        {% endif %}

        <div class="comment__author_and_time">
            <span class="comment__author">{{ comment.user.name }}</span>
            <span class="comment__datetime" title="{{ comment.updateTimestamp|date }}">
                {{ 'on'|trans }} {{ comment.updateTimestamp|date('M j, H:i') }}
            </span>
            {% if comment.user == app.user %}
            <span class="comment__edit">
                {# edit comment #}
                <a href="javascript:"
                   class="ms-1 text-decoration-none comment__action-button"
                   data-role="edit-comment"
                   data-comment-id="{{ comment.id }}"
                   title="{{ 'edit.comment'|trans }}">
                    <i class="bi bi-pencil-fill"></i>
                </a>

                {# delete comment #}
                <form method="post"
                      class="d-inline"
                      action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\Comment\\DeleteCommentController', {id: comment.id}) }}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <a href="javascript:"
                       class="text-decoration-none comment__action-button"
                       data-role="delete-comment"
                       data-confirm-message="{{ 'confirm.delete.comment'|trans }}"
                       title="{{ 'delete.comment'|trans }}">
                        <i class="bi bi-trash-fill text-danger"></i>
                    </a>
                </form>
            </span>
            {% endif %}

            <span class="comment__state float-end">
                <form id="change-comment-state-{{ comment.id }}"
                      method="post"
                      action="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\Comment\\ChangeCommentStateController', {id: comment.id}) }}">

                    {% if comment.state == 'open' %}
                        {% set state = 'resolved' %}
                        {% set title = 'click.to.resolve'|trans %}
                        {% set label = 'resolve'|trans %}
                    {% else %}
                        {% set state = 'open' %}
                        {% set title = 'click.to.unresolve'|trans %}
                        {% set label = '✓ ' ~ 'resolved'|trans %}
                    {% endif %}

                    <input type="hidden" name="state" value="{{ state }}">
                    <a href="javascript:document.getElementById('change-comment-state-{{ comment.id }}').submit()" title="{{ title }}">{{ label }}</a>
                </form>
            </span>
        </div>

        <div class="comment__message">
            {{ comment.message|mentions|markdown }}
        </div>
    </div>

    {# edit comment form #}
    {% set is_edit_comment = editCommentForm != null  and editCommentForm.comment == comment %}
    {% if is_edit_comment %}
        {% include 'app/review/comment/comment.modify.html.twig' with {form: editCommentForm.form}%}
    {% endif %}


    {# comment replies #}
    {% if comment.replies|length > 0 %}
        {% for reply in comment.replies %}
            {% include 'app/review/comment/comment.reply.html.twig' %}
        {% endfor %}
    {% endif %}

    {% set is_reply_on_comment = replyCommentForm != null and replyCommentForm.comment == comment %}

    {# comment action buttons #}
    <div class="comment__toolbar">
        {% if not is_reply_on_comment and not is_edit_comment %}
            <a href="javascript:"
               class="comment__action-button"
               data-reply-to="{{ comment.id }}"
               data-role="reply-to-comment" title="{{ 'reply'|trans }}">
                <i class="bi bi-reply-fill"></i>
            </a>
        {% endif %}
    </div>

    {% if is_reply_on_comment %}
        {% include 'app/review/comment/comment.modify.html.twig' with {form: replyCommentForm.form} %}
    {% endif %}
</div>
