<div class="comment__reply">
    <div class="comment__author_and_time">
        <span class="comment__author">{{ reply.user.name }}</span>
        <span class="comment__datetime" title="{{ reply.updateTimestamp|date }}">
            {{ 'on'|trans }} {{ reply.updateTimestamp|date('M j, H:i') }}
        </span>
        <span class="comment__edit">
            <a href="javascript:"
               class="ms-1 text-decoration-none"
               data-role="edit-reply"
               data-reply-id="{{ reply.id }}"
               title="{{ 'edit.comment'|trans }}">
                <i class="bi bi-pencil-fill"></i>
            </a>
        </span>
    </div>

    <div class="comment__message">
        {{ reply.message|markdown }}
    </div>
</div>

<div class="comment__edit-reply">
    {% if editReplyCommentForm != null and editReplyCommentForm.reply == reply %}
        {% include 'app/review/comment/comment.modify.html.twig' with {form: editReplyCommentForm.form} %}
    {% endif %}
</div>
