{# form: FormView #}
<div class="diff-file__comment_form" data-controller="comment">
    {{- form_start(form) -}}
    {{- form_widget(form.message, {attr: {'data-comment-target': 'textarea'}}) -}}

    <div class="position-relative diff-file__comment-mention">
        <ul class="dropdown-menu" {{ stimulus_target('comment', 'mentionSuggestions') }}></ul>
    </div>

    <div class="comment__markdown" {{ stimulus_target('comment', 'markdownPreview') }} class="mb-2">
        {{ form.message.vars.value|markdown }}
    </div>

    <div class="mt-2 clearfix">
        {{- form_widget(form.save, {attr: {title: 'comment.save.quick.key', 'data-controller': 'button'}}) -}}
        <button type="button"
                class="ms-2 btn btn-outline-secondary"
                data-controller="button"
                data-action="click->comment#cancelComment">{{ 'cancel'|trans }}</button>
        <span class="float-end text-secondary">
            {{ 'comment.markdown.examples'|trans }}
        </span>
    </div>
    {{- form_end(form) -}}
</div>
