<!DOCTYPE html>
<html lang="en" {% if app.user and app.user.setting.colorTheme == 'dark' %}data-bs-theme="dark" {% else %}data-bs-theme="light"{% endif %}>
<head>
    <meta charset="UTF-8">
    <title>
        {%- if page_title is defined -%}{{ page_title }} - {% endif -%}{{- app_name -}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#- application stylesheets -#}
    {{- encore_entry_link_tags('app') -}}

    {#- light/dark mode stylesheets -#}
    {%- if app.user and app.user.setting.colorTheme == 'dark' -%}
        {%- include 'base.head.dark.html.twig' -%}
    {%- elseif app.user and app.user.setting.colorTheme == 'light' -%}
        {%- include 'base.head.light.html.twig' -%}
    {%- else -%}
        {%- for js in encore_entry_js_files('bs.theme') -%}
        <script src="{{ js }}"></script>
        {%- endfor -%}
        <meta name="color-scheme" content="light dark">
        {%- include 'base.head.dark.html.twig' with {media: '(prefers-color-scheme: dark)'} -%}
        {%- include 'base.head.light.html.twig' with {media: '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)'} -%}
    {%- endif -%}

    {%- for js in encore_entry_js_files('app') -%}
        <script src="{{ js }}" defer></script>
    {%- endfor -%}
<body>

{% include 'header/header.html.twig' %}

{%- block page %}{% endblock -%}

{%- block mercure -%}
    {% if is_granted('ROLE_USER') %}
        {% set topics = ['/user/' ~ app.user.id] %}
        <div {{ stimulus_controller('server-event') }} data-url="{{ mercure(topics, { subscribe: topics }) }}"></div>
    {% endif %}
{%- endblock -%}

{%- if is_granted('ROLE_USER') -%}
    <div {{ stimulus_controller('browser-notification') }} data-browser-notification-user-id-value="{{ app.user.id }}"></div>
{%- endif -%}

</body>
</html>
