<!DOCTYPE html>
<html lang="en" {% if app.user and app.user.setting.colorTheme == 'dark' %}data-bs-theme="dark" {% else %}data-bs-theme="light"{% endif %}>
<head>
    <meta charset="UTF-8">
    <title>
        {%- if page_title is defined -%}{{ page_title }} - {% endif -%}{{- app_name -}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#- application stylesheets -#}
    {{- encore_entry_link_tags('app') -}}

    {#- light/dark mode stylesheets -#}
    {%- if app.user and app.user.setting.colorTheme == 'dark' -%}
        {%- include 'base.head.dark.html.twig' -%}
    {%- elseif app.user and app.user.setting.colorTheme == 'light' -%}
        {%- include 'base.head.light.html.twig' -%}
    {%- else -%}
        {%- for js in encore_entry_js_files('bs.theme') -%}
        <script src="{{ js }}"></script>
        {%- endfor -%}
        <meta name="color-scheme" content="light dark">
        {%- include 'base.head.dark.html.twig' with {media: '(prefers-color-scheme: dark)'} -%}
        {%- include 'base.head.light.html.twig' with {media: '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)'} -%}
    {%- endif -%}

    {%- for js in encore_entry_js_files('app') -%}
        <script src="{{ js }}" defer></script>
    {%- endfor -%}
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-contrast">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ app_name }}</a>

            {% if is_granted('ROLE_USER') %}
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"
                               aria-label="{{ 'projects'|trans }}"
                               title="{{ 'projects'|trans }}"
                               href="{{ path('DR\\Review\\Controller\\App\\Project\\ProjectsController') }}">
                                {{- 'projects'|trans -}}
                            </a>
                        </li>
                        {%- if breadcrumbs is defined -%}
                            {%- for breadcrumb in breadcrumbs -%}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a>
                                </li>
                            {%- endfor -%}
                        {%- endif -%}
                    </ul>

                    <div class="navbar-nav d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <form {{ stimulus_controller('header_search', {
                                    actionReview: path('DR\\Review\\Controller\\App\\Reviews\\SearchReviewsController'),
                                    actionBranch: path('DR\\Review\\Controller\\App\\Search\\SearchBranchesController'),
                                    actionCode: path('DR\\Review\\Controller\\App\\Search\\SearchCodeController')
                                } ) }}
                                        class="d-flex me-5"
                                        method="get"
                                        action="{{ path('DR\\Review\\Controller\\App\\Reviews\\SearchReviewsController') }}">
                                    <div class="input-group">
                                        <input type="search"
                                               name="search"
                                               required
                                               class="form-control border-secondary text-light bg-contrast border-end-1 flex-grow-1"
                                               placeholder="{{ 'search'|trans }}">
                                        <select class="form-control border-secondary text-light bg-contrast border-start-1 max-width-fit-content"
                                                {{ stimulus_action('header_search', 'onModeChange', 'change') }}
                                        >
                                            <option value="review">{{ 'reviews'|trans }}</option>
                                            <option value="branch">{{ 'branches'|trans }}</option>
                                            <option value="code">{{ 'source.code'|trans }}</option>
                                        </select>
                                        <button class="btn btn-outline-secondary" type="submit">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown" {{ stimulus_controller('component--dropdown-menu') }}>
                                    <a class="nav-link dropdown-toggle" href="#"
                                            {{ stimulus_target('component--dropdown-menu', 'button') }}
                                            {{ stimulus_action('component--dropdown-menu', 'show', 'click') }}>
                                        Admin
                                        {% set new_user_count = new_user_count() %}
                                        {% if new_user_count > 0 %}
                                            <span class="ms-1 badge rounded-pill bg-success"
                                                  title="{{ 'users.new.user.waiting.for.approval'|trans({count: new_user_count}) }}">+{{ new_user_count }}</span>
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu" {{ stimulus_target('component--dropdown-menu', 'dropdown') }}>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('DR\\Review\\Controller\\App\\Admin\\UsersController') }}">
                                                {{- 'users'|trans -}}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('DR\\Review\\Controller\\App\\Admin\\RepositoriesController') }}">
                                                {{- 'git.repositories'|trans -}}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{ path('DR\\Review\\Controller\\App\\Admin\\Credentials\\CredentialsController') }}">
                                                {{- 'repository.credentials'|trans -}}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{ path('DR\\Review\\Controller\\App\\Admin\\Webhook\\WebhooksController') }}">
                                                {{- 'webhooks'|trans -}}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/log-viewer/">
                                                {{- 'logs'|trans -}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('DR\\Review\\Controller\\App\\User\\UserSettingController') }}">
                                    {{- 'user.account'|trans -}}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('DR\\Review\\Controller\\App\\Notification\\RulesController') }}">
                                    {{- 'notifications'|trans -}}

                                    {%- set notification_count = rule_notification_count() -%}
                                    {%- if notification_count > 0 -%}
                                        <span class="ms-1 badge rounded-pill bg-primary">
                                            {{ notification_count > 99 ? '99+' : notification_count }}
                                        </span>
                                    {%- endif -%}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('DR\\Review\\Controller\\Auth\\LogoutController') }}">
                                    <i class="bi-box-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

{%- block page %}{% endblock -%}

{%- block mercure -%}
    {% if is_granted('ROLE_USER') %}
        {% set topics = ['/user/' ~ app.user.id] %}
        <div {{ stimulus_controller('server-event') }} data-url="{{ mercure(topics, { subscribe: topics }) }}"></div>
    {% endif %}
{%- endblock -%}

{%- if is_granted('ROLE_USER') -%}
    <div {{ stimulus_controller('browser-notification') }} data-browser-notification-user-id-value="{{ app.user.id }}"></div>
{%- endif -%}

</body>
</html>
