{#- revisions: Revision[] -#}

<table class="table table-bordered table-hover rule-table">
    <thead>
    <tr>
        <th scope="col">{{ 'hash'|trans }}</th>
        <th scope="col">{{ 'title'|trans }}</th>
        <th scope="col">{{ 'author'|trans }}</th>
        <th scope="col">{{ 'at'|trans }}</th>
        <th scope="col">{{ 'review'|trans }}</th>
    </tr>
    </thead>

    <tbody>
    {%- for revision in revisions -%}
        <tr>
            <td><code>{{ revision.commitHash|slice(0, 7) }}</code></td>
            <td class="fw-bold text-nowrap overflow-hidden" style="max-width: 600px">{{ revision.title|external_links }}</td>
            <td title="{{ revision.authorEmail }}">{{ revision.authorName }}</td>
            <td>{{ revision.createTimestamp|format_datetime('short', 'short') }}</td>
            <td>
                {% if revision.review != null %}
                    <a href="{{ path('DR\\Review\\Controller\\App\\Review\\ReviewController', {review: revision.review}) }}">
                        CR-{{ revision.review.projectId }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {%- endfor -%}
    <tbody>
</table>
