{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set review = attachRevisionsModel.review %}
    {% set revisionsModel = attachRevisionsModel.revisionsViewModel %}

    {% include 'app/flash/flashes.html.twig' %}

    <div class="mt-2 pb-2 clearfix">
        <button type="submit" class="btn btn-primary" form="attach-revision-form">{{ 'attach.to.review'|trans }} CR-{{ review.projectId }}</button>
        <a href="{{ path('DR\\Review\\Controller\\App\\Review\\ReviewController', {review}) }}"
           class="btn btn-outline-secondary">{{ 'cancel'|trans }}</a>
    </div>

    <div class="pb-2 fw-bold">
        {{ review.title }}
    </div>

    {%- include 'app/revision/revisions.searchbar.html.twig' with {searchQuery: revisionsModel.searchQuery} -%}

    <form id="attach-revision-form"
            method="post"
          action="{{ path('DR\\Review\\Controller\\App\\Revision\\AttachRevisionController', {id: review.id}) }}"
    >
        <table class="table table-bordered table-hover rule-table" data-controller="CheckboxSelectAll">
            <thead>
            <tr>
                <th scope="col"><input type="checkbox" class="form-check-input" data-role="checkbox-select-all"></th>
                <th scope="col">{{ 'hash'|trans }}</th>
                <th scope="col">{{ 'title'|trans }}</th>
                <th scope="col">{{ 'author'|trans }}</th>
                <th scope="col">{{ 'at'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {%- for revision in revisionsModel.revisions -%}
                <tr>
                    <td><input type="checkbox" class="form-check-input" name="revision[{{ revision.id }}]" data-role="checkbox-select-target"></td>
                    <td><code>{{ revision.commitHash|slice(0, 7) }}</code></td>
                    <td class="fw-bold">{{ revision.title|external_links }}</td>
                    <td>{{ revision.authorName }}</td>
                    <td>{{ revision.createTimestamp|format_datetime('short', 'short') }}</td>
                </tr>
            {%- endfor -%}
            <tbody>
        </table>
    </form>

    {%- include 'app/paginator/paginator.html.twig' with {paginatorModel: revisionsModel.paginator} -%}

{% endblock %}
