{%- apply inline_css(source('@styles/upsource.css')) -%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body class="mailBody">
    {%- set review = newCommentModel.review -%}
    {%- set comment = newCommentModel.comment -%}

    {# mail title #}
    {{- 'mail.new.comment.by.user.on'|trans({userName: comment.user.name}) }}
    <a href="{{ absolute_url(path('DR\\GitCommitNotification\\Controller\\App\\Review\\ReviewController', {id: review.id})) }}"
    >CR-{{ review.projectId }} - {{ review.title }}</a>
    <br><br>

    {%- if newCommentModel.file != null -%}
        <div class="revisionFileTitle">
            <span class="fileName">{{ newCommentModel.file.filename }}</span>
            <span class="directoryName">{{ newCommentModel.file.dirname }}</span>
        </div>
    {%- endif -%}

    {%- set line_nr_length_before = 4 -%}
    {%- set line_nr_length_after = 4 -%}
    {%- if newCommentModel.file != null and newCommentModel.linesBefore|length > 0 -%}
        <div class="diffBlock">
            {%- for line in newCommentModel.linesBefore -%}
                {%- include 'mail/commit/commit.block.line.html.twig' with {file: newCommentModel.file, line: line} -%}
            {%- endfor -%}
        </div>
    {% endif %}

    {%- include 'mail/comment/comment.html.twig' -%}

    {%- if newCommentModel.file != null and newCommentModel.linesAfter|length > 0 -%}
        <div class="diffBlock">
            {%- for line in newCommentModel.linesAfter -%}
                {%- include 'mail/commit/commit.block.line.html.twig' with {file: newCommentModel.file, line: line} -%}
            {%- endfor -%}
        </div>
    {%- endif -%}

    </body>
    </html>
{%- endapply -%}
