{%- set lineNrLengthBefore   = fileDiffViewModel.selectedFile.maxLineNumberLength(true) -%}
{%- set lineNrLengthAfter    = fileDiffViewModel.selectedFile.maxLineNumberLength(false) -%}
{%- set replyCommentForm     = fileDiffViewModel.replyCommentForm -%}
{%- set commentsViewModel    = fileDiffViewModel.commentsViewModel -%}
{%- set file                 = fileDiffViewModel.selectedFile -%}

<div class="!review-grid-code" style="display: grid; grid-template-rows: auto 1fr; overflow-y: auto">
    <div class="diff-file__file-revision-info clearfix pb-2">
        <div class="float-start">
            <div>
                {%- if file.rename -%}
                    <span class="diff-file__file-change-state text-primary">↗</span>
                {%- elseif file.added -%}
                    <span class="diff-file__file-change-state text-success">+</span>
                {%- elseif file.deleted -%}
                    <span class="diff-file__file-change-state text-danger">-</span>
                {%- elseif file.modified -%}
                    <span class="diff-file__file-change-state text-primary">*</span>
                {%- endif -%}
                <span class="diff-file__file-name fw-bold text-primary">{{ file.filename }}</span>
                <span class="diff-file__directory-name">{{ file.dirname }}</span>
            </div>

            {%- if file.rename -%}
                <div class="diff-file__file-mode-change">{{ 'renamed.from'|trans }} {{ file.filePathBefore }}</div>
            {%- endif -%}

            {%- if file.fileModeBefore is not same as (null) and file.fileModeBefore != file.fileModeAfter -%}
                <div class="diff-file__file-mode-change">{{ 'file.mode.changed'|trans }} {{ file.fileModeBefore }} &gt; {{ file.fileModeAfter }}</div>
            {%- endif -%}
        </div>

        <div class="btn-group btn-group-sm float-end pe-2">
            {% set currentDiffMode = fileDiffViewModel.diffMode.value %}
            {% for diffMode in fileDiffViewModel.diffModes %}
                <a href="{{ url_query_params({diff: diffMode}) }}"
                   class="btn {{ currentDiffMode == diffMode ? 'btn-primary' : 'btn-outline-primary' }}"
                        {{ stimulus_controller('button') }}
                >
                    {{ ('diff.' ~ diffMode)|trans }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div style="display: grid;grid-template-columns: 1fr 1fr; overflow-y: auto; border: 1px solid var(--review-diff-border-color);"
            {{ stimulus_controller('component--simultaneous-scroll') }}
    >
        <div style="overflow: auto" {{ stimulus_target('component--simultaneous-scroll', 'panelLeft') }}>

            {%- if fileDiffViewModel.leftSideFile.blocks -%}
                {% set isLineBefore = true %}

                {%- for block in fileDiffViewModel.leftSideFile.blocks -%}
                    {%- include 'app/review/commit/side-by-side/commit.block.html.twig' -%}

                    {%- if not loop.last -%}
                        {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div>

        <div style="overflow: auto" {{ stimulus_target('component--simultaneous-scroll', 'panelRight') }}>
            {% set isLineBefore = false %}
            {%- if file.blocks -%}

                {%- for block in file.blocks -%}
                    {%- include 'app/review/commit/side-by-side/commit.block.html.twig' -%}

                    {%- if not loop.last -%}
                        {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div>
    </div>
</div>
