{%- set lineNrLengthBefore   = fileDiffViewModel.selectedFile.maxLineNumberLength(true) -%}
{%- set lineNrLengthAfter    = fileDiffViewModel.selectedFile.maxLineNumberLength(false) -%}
{%- set replyCommentForm     = fileDiffViewModel.replyCommentForm -%}
{%- set commentsViewModel    = fileDiffViewModel.commentsViewModel -%}
{%- set file                 = fileDiffViewModel.selectedFile -%}

<div class="diff-side-by-side--grid-code" data-role="file-diff-review">
    {% include 'app/review/commit/commit.header.html.twig' %}
    {% include 'app/review/commit/commit.file.preview.html.twig' %}

    <div class="diff-side-by-side diff-side-by-side--two-column-layout"
            {{ stimulus_controller('component--simultaneous-scroll') }}
            {{ stimulus_target('review', 'revisionFile') }}
         data-old-path="{{ file.filePathBefore }}"
         data-new-path="{{ file.filePathAfter }}"
         data-head-sha="{{ fileDiffViewModel.headSha }}"
    >
        <div class="diff-side-by-side--column-layout" {{ stimulus_target('component--simultaneous-scroll', 'panelLeft') }}>

            {%- if fileDiffViewModel.leftSideFile.blocks -%}
                {% set isLineBefore = true %}

                {%- for block in fileDiffViewModel.leftSideFile.blocks -%}
                    {%- include 'app/review/commit/side-by-side/commit.block.html.twig' -%}

                    {%- if not loop.last -%}
                        {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div>

        <div class="diff-side-by-side--column-layout" {{ stimulus_target('component--simultaneous-scroll', 'panelRight') }}>
            {% set isLineBefore = false %}
            {%- if file.blocks -%}
                {%- for detachedComment in commentsViewModel.detachedComments -%}
                    {%- include 'app/review/comment/comment.html.twig' with {comment: detachedComment, detached: true, visible: commentsViewModel.isCommentVisible(detachedComment)} -%}
                {%- endfor -%}

                {%- for block in file.blocks -%}
                    {%- include 'app/review/commit/side-by-side/commit.block.html.twig' -%}

                    {%- if not loop.last -%}
                        {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div>
    </div>
</div>
